.center-title {
  font-weight: bold;
  text-align: center;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
.center-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}
.cls-ticket {
  padding: 20px;
  margin-top: 20px;
}
.search-box {
  width: 100%;
  height: 44px;
  border-radius: 14px;
  box-shadow: 0px 4px 4px 0px #dfdfdf;
  --background: #fff;
  --padding-start: 12px;
  --inner-padding-end: 8px;
}
.search-input {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -1.5%;
  color: #707070;
}
.search-input::placeholder {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  color: #707070;
}
.search-icon {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  padding: 3px;
  color: #233341;
}
.cls-tickets {
  margin-top: 30px;
}
.custom-block {
  margin-top: 10px;
  width: 100%;
  border-radius: 14px;
  border: 0.4px solid #0000001a;
  background: #ffffff;
  box-shadow: 5px 4px 10px 0px #dfdfdf;
  padding: 15px;
}
.block-text {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -1.5%;
  text-align: left;
  color: #233341;
}
.fixed-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 14px;
  padding: 8px;
  background: #cdf3ff;
  box-shadow: 0px 4px 4px 0px #dfdfdf;
  --background: #cdf3ff;
  // --box-shadow: none;
  z-index: 1000;
}
.btn-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
}
.btn-img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}
.btn-text {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -1.5%;
  color: #233341;
}
