<app-glide class="glide" *ngIf="isSliderOpen" [images]="sliderPhotos" [index]="initialIndexPhoto"></app-glide>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="center-title">{{user?.first_name}} {{user?.last_name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="chat-content ion-padding" [fullscreen]="true" *ngIf="!isSliderOpen" (click)="closeFab()">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" refreshingSpinner="circles" style="--spinner-color: var(--ion-color-primary)"></ion-refresher-content>
  </ion-refresher>
  <ng-container *ngFor="let message of messages">
    <ng-container *ngIf="message.message_type === 'text'">
      <div
        class="chat-message receiver"
        *ngIf="message.sender_id !== current_user.id"
        (mousedown)="onPressStart(message)"
        (mouseup)="onPressEnd()"
        (mouseleave)="onPressEnd()"
        (touchstart)="onPressStart(message)"
        (touchend)="onPressEnd()"
      >
        <div *ngIf="message.replied_to" class="msg-replied-receiver">
          <p *ngIf="message.replied_to.sender_id == current_user.id" class="replyer">Moi</p>
          <p *ngIf="message.replied_to.sender_id != current_user.id" class="replyer">{{user?.first_name}} {{user?.last_name}}</p>

          <p *ngIf="message.replied_to.message_type === 'text'">{{ message.replied_to.content }}</p>
          <img *ngIf="message.replied_to.message_type === 'image'" [src]="message.replied_to.image_urls?.[0].url" alt="Image" class="message-image" />
          <audio *ngIf="message.replied_to.message_type === 'voice'" [src]="message.replied_to.audio_url.url" controls class="msg-audio"></audio>
          <p *ngIf="message.replied_to.message_type === 'document'">
            {{message.replied_to.document_url.url.split('/')[message.replied_to.document_url.url.split('/').length - 1] }}
          </p>
        </div>
        <div class="msg-name">{{user?.first_name}} {{user?.last_name}}</div>
        <div class="msg-text">{{message.content}}</div>
        <div class="msg-time-r">{{message.timeAgo}}</div>
      </div>

      <div
        class="chat-message sender"
        *ngIf="message.sender_id === current_user.id"
        (mousedown)="onPressStart(message)"
        (mouseup)="onPressEnd()"
        (mouseleave)="onPressEnd()"
        (touchstart)="onPressStart(message)"
        (touchend)="onPressEnd()"
      >
        <div *ngIf="message.replied_to" class="msg-replied-sender">
          <p *ngIf="message.replied_to.sender_id == current_user.id" class="replyer">Moi</p>
          <p *ngIf="message.replied_to.sender_id != current_user.id" class="replyer">{{user?.first_name}} {{user?.last_name}}</p>

          <p *ngIf="message.replied_to.message_type === 'text'">{{ message.replied_to.content }}</p>
          <img *ngIf="message.replied_to.message_type === 'image'" [src]="message.replied_to.image_urls?.[0].url" alt="Image" class="message-image" />
          <audio *ngIf="message.replied_to.message_type === 'voice'" [src]="message.replied_to.audio_url.url" controls class="msg-audio"></audio>
          <p *ngIf="message.replied_to.message_type === 'document'">
            {{message.replied_to.document_url.url.split('/')[message.replied_to.document_url.url.split('/').length - 1] }}
          </p>
        </div>
        <div class="msg-text">{{message.content}}</div>
        <div class="msg-time-s">{{message.timeAgo}}</div>
      </div>
    </ng-container>

    <ng-container *ngIf="message.message_type === 'voice'">
      <div
        class="chat-message receiver audio"
        *ngIf="message.sender_id != current_user.id"
        (mousedown)="onPressStart(message)"
        (mouseup)="onPressEnd()"
        (mouseleave)="onPressEnd()"
        (touchstart)="onPressStart(message)"
        (touchend)="onPressEnd()"
      >
        <div *ngIf="message.replied_to" class="msg-replied-receiver">
          <p *ngIf="message.replied_to.sender_id == current_user.id" class="replyer">Moi</p>
          <p *ngIf="message.replied_to.sender_id != current_user.id" class="replyer">{{user?.first_name}} {{user?.last_name}}</p>

          <p *ngIf="message.replied_to.message_type === 'text'">{{ message.replied_to.content }}</p>
          <img *ngIf="message.replied_to.message_type === 'image'" [src]="message.replied_to.image_urls?.[0].url" alt="Image" class="message-image" />
          <audio *ngIf="message.replied_to.message_type === 'voice'" [src]="message.replied_to.audio_url.url" controls class="msg-audio"></audio>
          <p *ngIf="message.replied_to.message_type === 'document'">
            {{message.replied_to.document_url.url.split('/')[message.replied_to.document_url.url.split('/').length - 1] }}
          </p>
        </div>
        <div class="msg-name">{{user?.first_name}} {{user?.last_name}}</div>
        <audio class="msg-audio" src="{{message.audio_url.url}}" controls></audio>
        <div class="msg-time-r audio-time">{{message.timeAgo}}</div>
      </div>

      <div
        class="chat-message sender audio"
        *ngIf="message.sender_id === current_user.id"
        (mousedown)="onPressStart(message)"
        (mouseup)="onPressEnd()"
        (mouseleave)="onPressEnd()"
        (touchstart)="onPressStart(message)"
        (touchend)="onPressEnd()"
      >
        <div *ngIf="message.replied_to" class="msg-replied-sender">
          <p *ngIf="message.replied_to.sender_id == current_user.id" class="replyer">Moi</p>
          <p *ngIf="message.replied_to.sender_id != current_user.id" class="replyer">{{user?.first_name}} {{user?.last_name}}</p>

          <p *ngIf="message.replied_to.message_type === 'text'">{{ message.replied_to.content }}</p>
          <img *ngIf="message.replied_to.message_type === 'image'" [src]="message.replied_to.image_urls?.[0].url" alt="Image" class="message-image" />
          <audio *ngIf="message.replied_to.message_type === 'voice'" [src]="message.replied_to.audio_url.url" controls class="msg-audio"></audio>
          <p *ngIf="message.replied_to.message_type === 'document'">
            {{message.replied_to.document_url.url.split('/')[message.replied_to.document_url.url.split('/').length - 1] }}
          </p>
        </div>
        <audio class="msg-audio audio-sender" src="{{message.audio_url.url}}" controls></audio>
        <div class="msg-time-s audio-time">{{message.timeAgo}}</div>
      </div>
    </ng-container>

    <ng-container *ngIf="message.message_type === 'image'">
      <div
        class="chat-message receiver"
        *ngIf="message.sender_id != current_user.id"
        (mousedown)="onPressStart(message)"
        (mouseup)="onPressEnd()"
        (mouseleave)="onPressEnd()"
        (touchstart)="onPressStart(message)"
        (touchend)="onPressEnd()"
      >
        <div *ngIf="message.replied_to" class="msg-replied-receiver">
          <p *ngIf="message.replied_to.sender_id == current_user.id" class="replyer">Moi</p>
          <p *ngIf="message.replied_to.sender_id != current_user.id" class="replyer">{{user?.first_name}} {{user?.last_name}}</p>

          <p *ngIf="message.replied_to.message_type === 'text'">{{ message.replied_to.content }}</p>
          <img *ngIf="message.replied_to.message_type === 'image'" [src]="message.replied_to.image_urls?.[0].url" alt="Image" class="message-image" />
          <audio *ngIf="message.replied_to.message_type === 'voice'" [src]="message.replied_to.audio_url.url" controls class="msg-audio"></audio>
          <p *ngIf="message.replied_to.message_type === 'document'">
            {{message.replied_to.document_url.url.split('/')[message.replied_to.document_url.url.split('/').length - 1] }}
          </p>
        </div>
        <div class="msg-name">{{user?.first_name}} {{user?.last_name}}</div>
        <img src="{{message.image_urls[0].url}}" class="msg-image" (click)="openImageSlider(message.image_urls)" />
        <ion-chip *ngIf="message.image_urls.length > 1" class="many-imgs-r" (click)="openImageSlider(message.image_urls)">
          <ion-icon name="images-outline" class="many-imgs-r"></ion-icon>
          <ion-label>{{message.image_urls.length}} images</ion-label>
        </ion-chip>
        <div class="msg-time-r">{{message.timeAgo}}</div>
      </div>

      <div
        class="chat-message sender"
        *ngIf="message.sender_id === current_user.id"
        (mousedown)="onPressStart(message)"
        (mouseup)="onPressEnd()"
        (mouseleave)="onPressEnd()"
        (touchstart)="onPressStart(message)"
        (touchend)="onPressEnd()"
      >
        <div *ngIf="message.replied_to" class="msg-replied-sender">
          <p *ngIf="message.replied_to.sender_id == current_user.id" class="replyer">Moi</p>
          <p *ngIf="message.replied_to.sender_id != current_user.id" class="replyer">{{user?.first_name}} {{user?.last_name}}</p>

          <p *ngIf="message.replied_to.message_type === 'text'">{{ message.replied_to.content }}</p>
          <img *ngIf="message.replied_to.message_type === 'image'" [src]="message.replied_to.image_urls?.[0].url" alt="Image" class="message-image" />
          <audio *ngIf="message.replied_to.message_type === 'voice'" [src]="message.replied_to.audio_url.url" controls class="msg-audio"></audio>
          <p *ngIf="message.replied_to.message_type === 'document'">
            {{message.replied_to.document_url.url.split('/')[message.replied_to.document_url.url.split('/').length - 1] }}
          </p>
        </div>
        <img src="{{message.image_urls[0].url}}" class="msg-image" (click)="openImageSlider(message.image_urls)" />
        <ion-chip *ngIf="message.image_urls.length > 1" class="many-imgs" (click)="openImageSlider(message.image_urls)">
          <ion-icon name="images-outline" class="many-imgs"></ion-icon>
          <ion-label>{{message.image_urls.length}} images</ion-label>
        </ion-chip>
        <div class="msg-time-s">{{message.timeAgo}}</div>
      </div>
    </ng-container>

    <ng-container *ngIf="message.message_type === 'document'">
      <div
        class="chat-message receiver"
        *ngIf="message.sender_id !== current_user.id"
        (mousedown)="onPressStart(message)"
        (mouseup)="onPressEnd()"
        (mouseleave)="onPressEnd()"
        (touchstart)="onPressStart(message)"
        (touchend)="onPressEnd()"
      >
        <div *ngIf="message.replied_to" class="msg-replied-receiver">
          <p *ngIf="message.replied_to.sender_id == current_user.id" class="replyer">Moi</p>
          <p *ngIf="message.replied_to.sender_id != current_user.id" class="replyer">{{user?.first_name}} {{user?.last_name}}</p>

          <p *ngIf="message.replied_to.message_type === 'text'">{{ message.replied_to.content }}</p>
          <img *ngIf="message.replied_to.message_type === 'image'" [src]="message.replied_to.image_urls?.[0].url" alt="Image" class="message-image" />
          <audio *ngIf="message.replied_to.message_type === 'voice'" [src]="message.replied_to.audio_url.url" controls class="msg-audio"></audio>
          <p *ngIf="message.replied_to.message_type === 'document'">
            {{message.replied_to.document_url.url.split('/')[message.replied_to.document_url.url.split('/').length - 1] }}
          </p>
        </div>
        <div class="msg-name">{{user?.first_name}} {{user?.last_name}}</div>

        <div class="msg-text msg-doc" (click)="openDoc(message.document_url.url)">
          <ion-icon name="document-text-outline"></ion-icon>
          {{message.document_url.url.split('/')[message.document_url.url.split('/').length - 1]}}
        </div>
        <div class="msg-time-r">{{message.timeAgo}}</div>
      </div>

      <div
        class="chat-message sender"
        *ngIf="message.sender_id === current_user.id"
        (mousedown)="onPressStart(message)"
        (mouseup)="onPressEnd()"
        (mouseleave)="onPressEnd()"
        (touchstart)="onPressStart(message)"
        (touchend)="onPressEnd()"
      >
        <div *ngIf="message.replied_to" class="msg-replied-sender">
          <p *ngIf="message.replied_to.sender_id == current_user.id" class="replyer">Moi</p>
          <p *ngIf="message.replied_to.sender_id != current_user.id" class="replyer">{{user?.first_name}} {{user?.last_name}}</p>

          <p *ngIf="message.replied_to.message_type === 'text'">{{ message.replied_to.content }}</p>
          <img *ngIf="message.replied_to.message_type === 'image'" [src]="message.replied_to.image_urls?.[0].url" alt="Image" class="message-image" />
          <audio *ngIf="message.replied_to.message_type === 'voice'" [src]="message.replied_to.audio_url.url" controls class="msg-audio"></audio>
          <p *ngIf="message.replied_to.message_type === 'document'">
            {{message.replied_to.document_url.url.split('/')[message.replied_to.document_url.url.split('/').length - 1] }}
          </p>
        </div>
        <div class="msg-text msg-doc" (click)="openDoc(message.document_url.url)">
          <ion-icon name="document-text-outline"></ion-icon>
          {{message.document_url.url.split('/')[message.document_url.url.split('/').length - 1]}}
        </div>
        <div class="msg-time-s">{{message.timeAgo}}</div>
      </div>
    </ng-container>
  </ng-container>
</ion-content>

<ion-footer class="chat-footer" *ngIf="!isSliderOpen" [ngStyle]="{ 'height': isIos ? '80px' : '120px' }">
  <ion-grid>
    <ion-row class="align-center">
      <ion-col size="2" class="center" (click)="toggleFab()">
        <img src="assets/img/file.png" class="icon-file" />
      </ion-col>
      <div class="fab-menu" *ngIf="showFab">
        <button class="fab-item" (click)="openCamera()"><ion-icon name="camera"></ion-icon></button>
        <button class="fab-item" (click)="openGallery()"><ion-icon name="image"></ion-icon></button>
        <button class="fab-item" (click)="openDocument()"><ion-icon name="document"></ion-icon></button>
      </div>

      <div *ngIf="replyingToMessage" class="reply-preview" [ngStyle]="{ 'bottom': !isIos ? '120px' : '80px' }">
        <p *ngIf="replyingToMessage.message_type === 'text'">{{ replyingToMessage.content }}</p>
        <img *ngIf="replyingToMessage.message_type === 'image'" [src]="replyingToMessage.image_urls?.[0].url" alt="Image" class="message-image" />
        <audio *ngIf="replyingToMessage.message_type === 'voice'" [src]="replyingToMessage.audio_url.url" controls class="msg-audio"></audio>
        <p *ngIf="replyingToMessage.message_type === 'document'">{{ replyingToMessage.document_url.url.split('/')[replyingToMessage.document_url.url.split('/').length - 1] }}</p>
        <ion-icon name="close-outline" class="close-reply" (click)="cancelReply()"></ion-icon>
      </div>

      <ion-col size="8">
        <input type="text" (focus)="onFocus()" (blur)="onBlur()" placeholder="Écrire un message..." class="chat-input" #messageInput [(ngModel)]="message" />
      </ion-col>

      <ion-col size="2" class="center" (click)="sendMessage()" *ngIf="message.trim()">
        <img src="assets/img/send.png" class="icon-send" />
      </ion-col>

      <ng-container *ngIf="!message.trim()">
        <ion-col size="2" class="center" (click)="startRecording()" *ngIf="!recording">
          <img src="assets/img/vocale.png" class="icon-send" />
        </ion-col>
        <ion-col size="2" class="center recording" (click)="stopRecording()" *ngIf="recording">
          <ion-icon name="pause-circle-outline"></ion-icon>
        </ion-col>
      </ng-container>
    </ion-row>
  </ion-grid>
</ion-footer>
