<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="center-title">{{ 'Current requests' | translate }}</ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="cls-supervisor">
    <p class="cls-title">{{'Current requests' | translate}}</p>
    <div class="border-solid-2"></div>
    <ion-card class="custom-card" *ngFor="let absence of absences; let i = index " (click)="openModal(absence)">
      <ion-card-content>
        <h2 class="title">{{absence.user.first_name}} {{absence.user.last_name}}</h2>
        <div class="card-info">
          <div class="info-left">
            <ion-icon name="calendar-outline" class="icon"></ion-icon>
            <p class="date">{{ absence.date_start | date:'dd MMM' | uppercase }} - {{ absence.date_end | date:'dd MMM' | uppercase }}</p>
          </div>
          <ion-chip *ngIf="absence.type_absence == 'personal_reason'" class="chip rp">
            <p class="chip-text">{{'RP' | translate}}</p>
          </ion-chip>
          <ion-chip *ngIf="absence.type_absence == 'rest'" class="chip repos">
            <p class="chip-text">{{'Rest' | translate}}</p>
          </ion-chip>
          <ion-chip *ngIf="absence.type_absence == 'sick_day'" class="chip sick">
            <p class="chip-text">{{'Sick day' | translate}}</p>
          </ion-chip>
          <ion-chip *ngIf="absence.type_absence == 'vacation'" class="chip leave">
            <p class="chip-text">{{'vacation' | translate}}</p>
          </ion-chip>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
