<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="center-title">{{'Missions' | translate}}</ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="cls-details">
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col><img [src]="planning?.logo?.url" /></ion-col>
            <ion-col size="8">
              <div class="cls-title">
                <p class="cls-p-title">{{planning?.intervention_name?.split('-')[0]}}</p>
              </div>
              <div class="cls-address">
                <p class="cls-p-address">{{planning?.intervention_name?.split('-')[1]}}</p>
              </div>
            </ion-col>
            <ion-col>
              <img *ngIf="planningType =='punctual' && planning?.punctual_info_photos?.length > 0" src="../../../../assets/img/icon-img.png" class="cls-img" />
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-grid>
      <ion-row class="custom-row" responsive>
        <ion-col size="4" size-md="4" class="custom-block" (click)="direction()">
          <div class="block-content">
            <img src="../../../../assets/img/Location.png" alt="Location Icon" class="block-image" />
            <div class="block-text">{{'Direction' | translate}}</div>
          </div>
        </ion-col>
        <ion-col size="4" size-md="4" class="custom-block" (click)="pointages()">
          <div class="block-content">
            <img src="../../../../assets/img/pointage.png" alt="Location Icon" class="block-image" />
            <div class="block-text">{{'Scores' | translate}}</div>
          </div>
        </ion-col>
        <ion-col size="4" size-md="4" class="custom-block" (click)="reportsPhotos()">
          <div class="block-content">
            <img src="../../../../assets/img/camera change.png" alt="Location Icon" class="block-image" />
            <div class="block-text">{{'Reports' | translate}}</div>
          </div>
        </ion-col>

        <ion-col size="4" size-md="4" class="custom-block">
          <div class="block-content">
            <img src="../../../../assets/img/Chat.png" alt="Location Icon" class="block-image" />
            <div class="block-text">{{'Chat' | translate}}</div>
          </div>
        </ion-col>

        <ion-col size="4" size-md="4" *ngIf="planningType != 'regular'" class="custom-block" (click)="openVehiculeReturn()">
          <div class="block-content">
            <img src="../../../../assets/img/Car.png" alt="Location Icon" class="block-image" />
            <div class="block-text">{{'Change vehicle' | translate}}</div>
          </div>
        </ion-col>
        <ion-col *ngIf="planningType == 'regular'" size="4" size-md="4" class="custom-block" (click)="gdc()">
          <div class="block-content">
            <img src="../../../../assets/img/gdc.png" alt="Location Icon" class="block-image" />
            <div class="block-text">Consignes GDC</div>
          </div>
        </ion-col>

        <ion-col size="4" size-md="4" class="custom-block" (click)="missionReturns()">
          <div class="block-content">
            <img src="../../../../assets/img/Mic.png" alt="Location Icon" class="block-image" />
            <div class="block-text">{{'Mission returns' | translate}}</div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="cls-chip-add-ticket-container">
    <ion-chip color="tertiary" color="secondary" class="cls-chip-add-ticket" (click)="createTicket()">
      <ion-icon name="add-circle-outline" class="cls-icon-add"></ion-icon>
      Ajouter une tâche
    </ion-chip>
  </div>

  <div class="cls-title-contact">
    <p class="cls-p-contact">{{'Contacts' | translate}}</p>
  </div>
  <ion-card *ngFor="let contact of planning?.contacts" color="light" class="cls-card-light">
    <ion-card-content>
      <ion-grid>
        <ion-row class="align-center">
          <ion-col size="9">
            <div class="title-c-txt">
              <p class="cls-card-title">{{ contact.lastname ? contact.name + " " +contact.last_name : contact.name}}</p>
            </div>
            <div class="title-c-txt">
              <ion-chip class="chip-job"><span class="cls-title-job">{{contact.role}}</span></ion-chip>
            </div>
          </ion-col>
          <ion-col size="3">
            <a class="call-link" href="tel://{{contact?.phone?.split(' ')?.join()}}">
              <img src="../../../../assets/img/icon-call.png" />
            </a>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-card class="cls-ionc-card-mission">
    <ion-card-header>
      <ion-card-title>
        <ion-grid>
          <ion-row class="align-center">
            <ion-col size="4">
              <p class="mission-text">{{'Assignment' | translate}}</p>
            </ion-col>
            <ion-col size="8">
              <ion-chip class="cls-in-progress">{{'In progress' | translate}}</ion-chip>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-title>
      <ion-card-subtitle><ion-chip class="cls-chip-agent-name">{{planning?.prestation}}</ion-chip></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="cls-desc" [innerHTML]="planning?.mission"></ion-card-content>
  </ion-card>
  <ion-card class="cls-ion-card-notice">
    <ion-card-header>
      <ion-card-title class="mission-text">{{'Noticed' | translate}}</ion-card-title>
    </ion-card-header>
    <ion-card-content class="cls-desc" [innerHTML]="planning?.remark"></ion-card-content>
  </ion-card>
  <div class="cls-title-contact">
    <p class="cls-p-contact">{{'Team' | translate}}</p>
  </div>
  <ion-card class="cls-ion-crad-c">
    <ion-card-content>
      <ion-grid>
        <ion-row class="align-center" *ngFor="let item of supervisors">
          <ion-col size="9">
            <div class="title-c-txt">
              <p class="c-text">{{item.first_name}} {{item.last_name}}</p>
            </div>
            <div class="title-c-txt">
              <ion-chip class="cls-chip-agent-name">{{'Supervisor' | translate}}</ion-chip>
            </div>
          </ion-col>
          <ion-col size="3">
            <a class="call-link" href="tel://{{item?.phone?.split(' ')?.join()}}">
              <img src="../../../../assets/img/icon-call.png" />
            </a>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ng-container *ngIf="planning?.team.length >0">
    <div class="cls-list-c-b" *ngIf="planningType == 'punctual' ||  planningType == 'forfaitaire'">
      <ion-list class="cls-ion-list-c">
        <ion-item *ngFor="let agent of planning?.team" lines="none">
          <ion-grid *ngIf="agent?.subcontractor_agent">
            <ion-row class="align-center">
              <ion-col size="6">
                <div class="title-c-txt">
                  <p class="c-text">{{ agent?.subcontractor_agent?.first_name}} {{agent?.subcontractor_agent?.last_name }}</p>
                </div>
                <div class="title-c-txt">
                  <ion-chip class="cls-chip-f-name">{{agent?.subcontractor_agent?.subcontractor.company}}</ion-chip>
                </div>
              </ion-col>
              <ion-col size="6">
                <ion-grid>
                  <ion-row>
                    <ion-col size="6">
                    </ion-col>
                    <ion-col size="6">
                      <a class="call-link" href="tel://{{agent?.phone?.split(' ')?.join()}}">
                        <img src="../../../../assets/img/icon-call.png" />
                      </a>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-grid *ngIf="!agent?.subcontractor_agent">
            <ion-row class="align-center">
              <ion-col size="9">
                <div class="title-c-txt">
                  <p class="c-text">{{agent.first_name}} {{agent.last_name}}</p>
                </div>
                <div class="title-c-txt">
                  <ion-chip class="cls-chip-m-name">{{agent.role == 'teamleader' ? "Chef d'equipe" : agent.role}}</ion-chip>
                </div>
              </ion-col>
              <ion-col size="3">
                <a class="call-link" href="tel://{{agent?.phone.split(' ').join()}}">
                  <img src="../../../../assets/img/icon-call.png" />
                </a>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </div>
  </ng-container>
  <div class="cls-list-c-b" *ngIf="planningType == 'regular'">
    <ion-list class="cls-ion-list-c">
      <ion-item *ngFor="let agent of planning?.team" lines="none">
        <ion-grid>
          <ion-row class="align-center">
            <ion-col size="9">
              <div class="title-c-txt">
                <p class="c-text">{{agent.first_name}} {{agent.last_name}}</p>
              </div>
              <div class="title-c-txt">
                <ion-chip class="cls-chip-m-name">{{agent.role == 'teamleader' ? "Chef d'equipe" : agent.role}}</ion-chip>
              </div>
            </ion-col>
            <ion-col size="3">
              <a class="call-link" href="tel://{{agent?.phone.split(' ').join()}}">
                <img src="../../../../assets/img/icon-call.png" />
              </a>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
