<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="center-title">{{'Vehicle' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="animate__animated animate__fadeInUp cls-details">
    <ion-card class="animate__animated animate__fadeInUp custom-card">
      <ion-card-content>
        <div class="animate__animated animate__fadeInUp input-container">
          <ion-input placeholder="Rechercher..." class="animate__animated animate__fadeInUp custom-input" [(ngModel)]="filterKey" (ionInput)="applyFilter()"></ion-input>
          <ion-icon name="search-outline" class="animate__animated animate__fadeInUp input-icon"></ion-icon>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card class="animate__animated animate__fadeInUp custom-card" *ngFor="let vehicle of search_result" (click)="vehicleDriving(vehicle.name ,vehicle.id,vehicle.photo?.url)">
      <div class="animate__animated animate__fadeInUp card-header">
        <img [src]="vehicle.photo?.url" alt="Vehicle photo" class="animate__animated animate__fadeInUp vehicle-image" />
        <div class="animate__animated animate__fadeInUp car-info">
          <h2 class="animate__animated animate__fadeInUp car-name">{{ vehicle.name }}</h2>
          <span *ngIf="!vehicle.active" class="animate__animated animate__fadeInUp status-badge">{{ 'Non Rolling' | translate }}</span>
        </div>
        <ion-icon name="chevron-forward-outline" class="animate__animated animate__fadeInUp arrow-icon"></ion-icon>
      </div>
    </ion-card>
  </div>
</ion-content>
