<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="center-title">{{ 'Agent placement' | translate }}</ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="cls-supervisor">
    <div class="date-display">{{tommorrow}}</div>

    <div class="custom-search">
      <input type="text" placeholder="Rechercher..." class="search-input" name="search" />
      <ion-icon name="search-outline" class="input-icon"></ion-icon>
    </div>

    <div class="toggle-center">
      <ion-toggle [checked]="false">Placé</ion-toggle>
    </div>

    <div class="cards-list">
      <ion-card class="custom-card" *ngFor="let item of agents" (click)="placementOfAgentsDetails(item)">
        <ion-grid>
          <ion-row class="ion-align-items-center ion-justify-content-between">
            <ion-col size="2" class="avatar-col">
              <img
                [src]="!item.user.photo.url.includes('default-user') ? item.user.photo.url.replace(env.urlAPI , env.url_web) : 'https://backend.ideogroupe.com/assets/img/default-user.png'"
                alt="Avatar"
                class="avatar-img"
              />
            </ion-col>
            <ion-col size="8" class="info-col">
              <ion-row class="name-row">{{item.user.first_name + ' ' + item.user.last_name}}</ion-row>
              <ion-row class="missions-row">{{item.planning_punctuals}} missions</ion-row>
            </ion-col>
            <ion-col size="2" class="icon-col">
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </div>
  </div>
</ion-content>
