.center-title {
  font-weight: bold;
  text-align: center;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
.cls-supervisor {
  padding: 20px;
}
.custom-search {
  width: 100%;
  height: 50px;
  background: #ffffff;
  border-radius: 14px;
  box-shadow: 0px 4px 4px 0px #dfdfdf;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 14px;
  opacity: 1;
  margin: 0 auto;
}
.search-input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 100%;
  letter-spacing: -0.015em;
  color: #707070;
}
.input-icon {
  font-size: 22px;
  color: #707070;
}
.date-display {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.015em;
  color: #233341;
  text-align: center;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 44px;
}
.toggle-center {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.custom-card {
  width: 100%;
  padding: 6px 10px;
  border-radius: 14px;
  background: #ffffff;
  border: 0.4px solid #0000001a;
  box-shadow: 5px 4px 10px 0px #dfdfdf;
  opacity: 1;
}

.avatar-img {
  width: 38px;
  height: 38px;
  border-radius: 80px;
  object-fit: cover;
}
.name-row {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: -0.015em;
  color: #233341;
  width: 100%;
  text-align: right;
  line-height: 100%;
}
.missions-row {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.015em;
  color: #233341;
  width: 100%;
  text-align: right;
  line-height: 100%;
}
.icon-col {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #233341;
}
.avatar-col {
  display: flex;
  align-items: center;
}
.info-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 8px;
}
.cards-list {
  margin-top: 20px;
  margin-right: 20px;
}
.anumation-block {
  opacity: 0;
}