<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="header-button" (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="center-title">{{ planning?.today_schedule?.date ? transform() : "planning?.today_schedule?.date" }}</ion-title>

    <ion-buttons slot="end">
      <ion-button class="header-button">
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="cls-details">
    <ion-card class="animate__animated animate__slideInRight animate__faster">
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <img src="{{ planning?.intervention?.logos?.url || 'https://backend.ideogroupe.com/assets/img/default-company.png' }}" class="logo" />
            </ion-col>

            <ion-col size="8">
              <div class="cls-title">
                <p class="cls-p-title">{{address}}</p>
              </div>
              <div class="cls-address">
                <p class="cls-p-address">{{ planning?.intervention.name?.split('-')[1] }}</p>
              </div>
            </ion-col>

            <ion-col>
              <img *ngIf="planningType =='punctual' && planning?.punctual_info_photos?.length > 0" src="../../../../assets/img/icon-img.png" class="cls-img" />
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-grid>
      <ion-row class="custom-row" responsive>
        <ion-col size="6" size-md="6" class="custom-block">
          <div class="block-content">
            <svg viewBox="0 0 24 24" width="50" height="50" fill="#00a2e1">
              <path d="M14,2H6C4.9,2,4,2.9,4,4v16c0,1.1,0.9,2,2,2h12c1.1,0,2-0.9,2-2V8L14,2z M18,20H6V4h7v5h5V20z M8,15.01l1.41-1.41L11,15.17 l4.59-4.59L17,12l-6,6L8,15.01z" />
            </svg>
            <div class="block-text">Tâches</div>
          </div>
        </ion-col>
        <ion-col size="6" size-md="6" class="custom-block" (click)="chooseSource()">
          <div class="block-content">
            <svg viewBox="0 0 24 24" width="50" height="50" fill="#00a2e1">
              <path
                d="M7,18c-1.1,0-1.99,0.9-1.99,2S5.9,22,7,22s2-0.9,2-2S8.1,18,7,18z M1,2v2h2l3.6,7.59l-1.35,2.45C5.1,14.33,5.7,15,6.4,15H19v-2 H7.42c-0.14,0-0.25-0.11-0.25-0.25L7.2,12.6L8.1,11h7.45c0.75,0,1.41-0.41,1.75-1.03l3.58-6.49C21.22,2.83,20.75,2,20,2H4.21 L3.27,0H1V2z M17,18c-1.1,0-1.99,0.9-1.99,2s0.89,2,1.99,2s2-0.9,2-2S18.1,18,17,18z"
              />
            </svg>
            <div class="block-text">Dépenses</div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row class="custom-row" responsive>
        <ion-col size="4" size-md="4" class="custom-block" (click)="direction()">
          <div class="block-content">
            <svg viewBox="0 0 24 24" width="50" height="50" fill="#00a2e1">
              <path d="M12,2L4.5,20.29L5.21,21L12,18L18.79,21L19.5,20.29L12,2z" />
            </svg>
            <div class="block-text">{{'Direction' | translate}}</div>
          </div>
        </ion-col>
        <ion-col size="4" size-md="4" class="custom-block" (click)="pointage()">
          <div class="block-content">
            <svg viewBox="0 0 24 24" width="50" height="50" fill="#00a2e1">
              <path
                d="M12,2C8.13,2,5,5.13,5,9c0,5.25,7,13,7,13s7-7.75,7-13C19,5.13,15.87,2,12,2z M12,11.5c-1.38,0-2.5-1.12-2.5-2.5s1.12-2.5,2.5-2.5s2.5,1.12,2.5,2.5S13.38,11.5,12,11.5z"
              />
            </svg>
            <div class="block-text">{{'Scores' | translate}}</div>
          </div>
        </ion-col>
        <ion-col size="4" size-md="4" class="custom-block" (click)="photoReport()">
          <div class="block-content">
      <svg viewBox="0 0 24 24" width="50" height="50" [attr.fill]="getReportColor()">
  <path
    d="M9,2L7.17,4H4C2.9,4,2,4.9,2,6v12c0,1.1,0.9,2,2,2h16c1.1,0,2-0.9,2-2V6c0-1.1-0.9-2-2-2h-3.17L15,2H9z M12,17c-2.76,0-5-2.24-5-5s2.24-5,5-5s5,2.24,5,5S14.76,17,12,17z M12,9c-1.65,0-3,1.35-3,3s1.35,3,3,3s3-1.35,3-3S13.65,9,12,9z"
  />
</svg>
            <div class="block-text">{{'Reports' | translate}}</div>
          </div>
        </ion-col>

        <ion-col size="4" size-md="4" class="custom-block">
          <div class="block-content">
            <svg viewBox="0 0 24 24" width="50" height="50" fill="#00a2e1">
              <path d="M20,2H4C2.9,2,2,2.9,2,4v18l4-4h14c1.1,0,2-0.9,2-2V4C22,2.9,21.1,2,20,2z M17,12H7v-2h10V12z M17,9H7V7h10V9z" />
            </svg>
            <div class="block-text">{{'Chat' | translate}}</div>
          </div>
        </ion-col>

        <ion-col *ngIf="planningType != 'regular'" size="4" size-md="4" class="custom-block" (click)="changeVehicle()">
          <div class="block-content">
            <svg viewBox="0 0 24 24" width="60" height="50" fill="#00a2e1">
              <path
                d="M18.92,6.01C18.72,5.42,18.16,5,17.5,5h-11c-0.66,0-1.21,0.42-1.42,1.01L3,12v8c0,0.55,0.45,1,1,1h1c0.55,0,1-0.45,1-1v-1h12 v1c0,0.55,0.45,1,1,1h1c0.55,0,1-0.45,1-1v-8L18.92,6.01z M6.5,16c-0.83,0-1.5-0.67-1.5-1.5S5.67,13,6.5,13s1.5,0.67,1.5,1.5 S7.33,16,6.5,16z M17.5,16c-0.83,0-1.5-0.67-1.5-1.5s0.67-1.5,1.5-1.5s1.5,0.67,1.5,1.5S18.33,16,17.5,16z M5,11l1.5-4.5h11L19,11H5z"
              />
              <path d="M20,2c-1.1,0-2,0.9-2,2h2v2l3-3L20,0V2z" />
            </svg>
            <div class="block-text">{{'Change vehicle' | translate}}</div>
          </div>
        </ion-col>
        <ion-col *ngIf="planning?.type == 'regular'" size="4" size-md="4" (click)="gdc()">
          <div class="block-content">
            <svg viewBox="0 0 24 24" width="50" height="50" fill="#00a2e1">
              <path d="M1,21h22L12,2L1,21z M13,18h-2v-2h2V18z M13,14h-2v-4h2V14z" />
            </svg>
            <div class="block-text">Consignes GDC</div>
          </div>
        </ion-col>

        <ion-col size="4" size-md="4" class="custom-block" (click)="missionReturns()">
          <div class="block-content">
            <svg viewBox="0 0 24 24" width="50" height="50" fill="#00a2e1">
              <path d="M12,14c1.66,0,3-1.34,3-3V5c0-1.66-1.34-3-3-3S9,3.34,9,5v6C9,12.66,10.34,14,12,14z" />
              <path d="M17,11c0,2.76-2.24,5-5,5s-5-2.24-5-5H5c0,3.53,2.61,6.43,6,6.92V21h2v-3.08c3.39-0.49,6-3.39,6-6.92H17z" />
            </svg>
            <div class="block-text">{{'Mission returns' | translate}}</div>
          </div>
        </ion-col>

        <!-- <ion-col size="4" size-md="4" class="custom-block" *ngIf="!agent?.is_teamleader">
          <div class="block-content no-return">
            <img src="../../../../assets/img/Mic.png" alt="Location Icon" class="block-image" />
            <div class="block-text">{{'Mission returns' | translate}}</div>
          </div>
        </ion-col> -->
      </ion-row>
    </ion-grid>

    <div class="cls-title-contact">
      <p class="cls-p-contact">{{'Contacts' | translate}}</p>
    </div>
    <!-- <ion-card
      *ngFor="let contact of planning?.contacts; let i = index"
      color="light"
      class="cls-card-light animate__animated animate__fadeInUp card-animate"
      [style.animationDelay]="(i * 80) + 'ms'"
    >
      <ion-card-content>
        <ion-grid>
          <ion-row class="align-center">
            <ion-col size="9">
              <div class="title-c-txt">
                <p class="cls-card-title wrap-text">{{ `${contact.first_name} ${contact.last_name}` }}</p>
              </div>

              <div class="title-c-txt animate__animated animate__fadeIn">
                <ion-chip class="chip-job">
                  <span class="cls-title-job">{{ contact.job }}</span>
                </ion-chip>
              </div>
            </ion-col>

            <ion-col size="3" class="animate__animated animate__zoomIn">
              <a class="call-link" href="tel://{{ contact?.phone?.split(' ')?.join() }}">
                <svg viewBox="0 0 50 50" width="50" height="50">
                  <circle cx="25" cy="25" r="24" fill="#CDFFED" />

                  <path
                    d="M13.25,21.59c2.88,5.66,7.51,10.29,13.18,13.17l4.4-4.41c0.55-0.55,1.34-0.71,2.03-0.49c2.24,0.74,4.65,1.14,7.14,1.14c1.11,0,2,0.89,2,2v7c0,1.11-0.89,2-2,2C18.15,42,6,29.85,6,8c0-1.11,0.9-2,2-2h7c1.11,0,2,0.89,2,2c0,2.49,0.4,4.9,1.14,7.14c0.22,0.69,0.06,1.48-0.49,2.03l-4.4,4.42z"
                    fill="#308451"
                    transform="scale(0.7) translate(10, 10)"
                  />
                </svg>
              </a>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card> -->
    
        <ion-card class="cls-ion-crad-c animate__animated animate__slideInRight animate__fast" *ngIf="planning?.contacts?.length > 0">
      <ion-card-content>
        <ion-grid>
          <ion-row class="align-center"       *ngFor="let contact of planning?.contacts; let i = index"
>
            <ion-col size="9">
              <div class="title-c-txt">
                <p class="c-text wrap-text">{{ contact?.first_name }} {{ contact?.last_name }}</p>
              </div>
                <ion-chip class="chip-job">
                  <span class="cls-title-job">{{ contact.job }}</span>
                </ion-chip>
            </ion-col>

            <ion-col size="3">
              <a class="call-link" href="tel://{{ contact?.phone?.split(' ')?.join() }}">
                <!-- Phone Call Button -->
         <svg viewBox="0 0 50 50" width="50" height="50">
                  <!-- Background circle (lighter color) -->
                  <circle cx="25" cy="25" r="24" fill="#CDFFED" />

                  <!-- Phone icon (original color) -->
                  <path
                    d="M13.25,21.59c2.88,5.66,7.51,10.29,13.18,13.17l4.4-4.41c0.55-0.55,1.34-0.71,2.03-0.49c2.24,0.74,4.65,1.14,7.14,1.14c1.11,0,2,0.89,2,2v7c0,1.11-0.89,2-2,2C18.15,42,6,29.85,6,8c0-1.11,0.9-2,2-2h7c1.11,0,2,0.89,2,2c0,2.49,0.4,4.9,1.14,7.14c0.22,0.69,0.06,1.48-0.49,2.03l-4.4,4.42z"
                    fill="#308451"
                    transform="scale(0.7) translate(10, 10)"
                  />
                </svg>
              </a>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-card class="cls-ionc-card-mission">
      <ion-card-header>
        <ion-card-title>
          <ion-grid>
            <ion-row class="align-center">
              <ion-col size="4">
                <p class="mission-text">{{'Assignment' | translate}}</p>
              </ion-col>
              <ion-col size="8">
                <ion-chip class="cls-in-progress">{{'In progress' | translate}}</ion-chip>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-title>
        <ion-card-subtitle><ion-chip class="cls-chip-agent-name">{{planning?.prestation}}</ion-chip></ion-card-subtitle>
      </ion-card-header>
      <ion-card-content class="cls-desc" [innerHTML]="planning?.needs"></ion-card-content>
    </ion-card>
    <ion-card class="cls-ion-card-notice" *ngIf="planning?.remark?.length > 0">
      <ion-card-header>
        <ion-card-title class="mission-text">{{'Noticed' | translate}}</ion-card-title>
      </ion-card-header>
      <ion-card-content class="cls-desc" [innerHTML]="planning?.remark"></ion-card-content>
    </ion-card>
    <div class="cls-title-contact">
      <p class="cls-p-contact">{{'Team' | translate}}</p>
    </div>
    <ion-card *ngIf="supervisors.length > 0" class="cls-ion-crad-c animate__animated animate__slideInRight animate__fast">
      <ion-card-content>
        <ion-grid >
          <ion-row class="align-center" *ngFor="let item of supervisors">
            <ion-col size="9">
              <div class="title-c-txt">
                <p class="c-text wrap-text">{{ item.first_name }} {{ item.last_name }}</p>
              </div>
              <div class="title-c-txt">
                <ion-chip class="cls-chip-agent-name">{{ 'Supervisor' | translate }}</ion-chip>
              </div>
            </ion-col>

            <ion-col size="3">
              <a class="call-link" href="tel://{{ item?.phone?.split(' ')?.join() }}">
                <!-- Phone Call Button -->
         <svg viewBox="0 0 50 50" width="50" height="50">
                  <!-- Background circle (lighter color) -->
                  <circle cx="25" cy="25" r="24" fill="#CDFFED" />

                  <!-- Phone icon (original color) -->
                  <path
                    d="M13.25,21.59c2.88,5.66,7.51,10.29,13.18,13.17l4.4-4.41c0.55-0.55,1.34-0.71,2.03-0.49c2.24,0.74,4.65,1.14,7.14,1.14c1.11,0,2,0.89,2,2v7c0,1.11-0.89,2-2,2C18.15,42,6,29.85,6,8c0-1.11,0.9-2,2-2h7c1.11,0,2,0.89,2,2c0,2.49,0.4,4.9,1.14,7.14c0.22,0.69,0.06,1.48-0.49,2.03l-4.4,4.42z"
                    fill="#308451"
                    transform="scale(0.7) translate(10, 10)"
                  />
                </svg>
              </a>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ng-container *ngIf="planning?.team.length >0">
      <!-- <div class="cls-list-c-b">
        <ion-list class="cls-ion-list-c" *ngIf="hasSubcontractor">
          <ion-item *ngFor="let agent of planning?.team" lines="none" [ngStyle]="{ 'display': agent.manager ? '' : 'none' }">
            <ion-grid *ngIf="agent?.manager && !agent.platform">
              <ion-row class="align-center">
                <ion-col size="6">
                  <div class="title-c-txt">
                    <p class="c-text wrap-text">{{ agent?.first_name}} {{ agent?.last_name}}</p>
                  </div>
                  <div class="title-c-txt">
                    <ion-chip class="cls-chip-f-name">{{agent?.company_name}}</ion-chip>
                  </div>
                </ion-col>
                <ion-col size="6">
                  <ion-grid>
                    <ion-row>
                      <ion-col size="12">
                        <img src="../../../../assets/img/btn-notice.png" class="cls-t-icon" />
                        <a class="call-link" href="tel://{{agent?.phone?.split(' ')?.join()}}">
                          <img src="../../../../assets/img/icon-call.png" class="cls-t-icon" />
                        </a>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </div> -->
          <ion-card class="cls-ion-crad-c animate__animated animate__slideInRight animate__fast" *ngIf="hasSubcontractor">
      <ion-card-content>
        <ion-grid>
          <ion-row class="align-center" *ngFor="let agent of planning?.team" lines="none" [ngStyle]="{ 'display': agent.manager ? '' : 'none' }">
          <ion-col size="9">
                  <div class="title-c-txt">
                    <p class="c-text wrap-text">{{ agent?.first_name}} {{ agent?.last_name}}</p>
                  </div>
                  <div class="title-c-txt">
                    <ion-chip class="cls-chip-f-name">{{agent?.company_name}}</ion-chip>
                  </div>
                </ion-col>

            <ion-col size="3">
              <a class="call-link" href="tel://{{ agent?.phone?.split(' ')?.join() }}">
                <!-- Phone Call Button -->
         <svg viewBox="0 0 50 50" width="50" height="50">
                  <!-- Background circle (lighter color) -->
                  <circle cx="25" cy="25" r="24" fill="#CDFFED" />

                  <!-- Phone icon (original color) -->
                  <path
                    d="M13.25,21.59c2.88,5.66,7.51,10.29,13.18,13.17l4.4-4.41c0.55-0.55,1.34-0.71,2.03-0.49c2.24,0.74,4.65,1.14,7.14,1.14c1.11,0,2,0.89,2,2v7c0,1.11-0.89,2-2,2C18.15,42,6,29.85,6,8c0-1.11,0.9-2,2-2h7c1.11,0,2,0.89,2,2c0,2.49,0.4,4.9,1.14,7.14c0.22,0.69,0.06,1.48-0.49,2.03l-4.4,4.42z"
                    fill="#308451"
                    transform="scale(0.7) translate(10, 10)"
                  />
                </svg>
              </a>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    </ng-container>
    <ng-container *ngIf="planning?.team.length >0">
      <!-- <div class="cls-list-c-b">
        <ion-list class="cls-ion-list-c">
          <ion-item *ngFor="let agent of planning?.team" lines="none" [ngStyle]="{ 'display': agent.manager ? 'none' : '' }">
            <ion-grid *ngIf="!agent.manager">
              <ion-row class="align-center">
                <ion-col class="agent-col" size="9">
                  <div class="title-c-txt">
                    <p class="c-text wrap-text">{{agent.first_name}} {{agent.last_name}}</p>
                  </div>
                  <div class="title-c-txt">
                    <ion-chip class="cls-chip-m-name">{{agent.role == 'teamleader' ? "Chef d'equipe" : agent.role}}</ion-chip>
                  </div>
                </ion-col>
                <ion-col class="agent-col" size="3">
                  <a class="call-link" href="tel://{{agent?.phone.split(' ').join()}}">
              <svg viewBox="0 0 50 50" width="50" height="50">
                  <circle cx="25" cy="25" r="24" fill="#CDFFED" />

                  <path
                    d="M13.25,21.59c2.88,5.66,7.51,10.29,13.18,13.17l4.4-4.41c0.55-0.55,1.34-0.71,2.03-0.49c2.24,0.74,4.65,1.14,7.14,1.14c1.11,0,2,0.89,2,2v7c0,1.11-0.89,2-2,2C18.15,42,6,29.85,6,8c0-1.11,0.9-2,2-2h7c1.11,0,2,0.89,2,2c0,2.49,0.4,4.9,1.14,7.14c0.22,0.69,0.06,1.48-0.49,2.03l-4.4,4.42z"
                    fill="#308451"
                    transform="scale(0.7) translate(10, 10)"
                  />
                </svg>
                  </a>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </div> -->
  <ion-card class="cls-ion-crad-c animate__animated animate__slideInRight animate__fast">
      <ion-card-content>
        <ion-grid>
          <ion-row class="align-center" *ngFor="let agent of planning?.team" [ngStyle]="{ 'display': agent.manager ? 'none' : '' }">
                  <ion-col class="agent-col" size="9">
                  <div class="title-c-txt">
                    <p class="c-text wrap-text">{{agent.first_name}} {{agent.last_name}}</p>
                  </div>
                  <div class="title-c-txt">
                    <ion-chip class="cls-chip-m-name">{{agent.role == 'teamleader' ? "Chef d'equipe" : agent.role}}</ion-chip>
                  </div>
                </ion-col>

            <ion-col size="3">
              <a class="call-link" href="tel://{{ agent?.phone?.split(' ')?.join() }}">
                <!-- Phone Call Button -->
         <svg viewBox="0 0 50 50" width="50" height="50">
                  <!-- Background circle (lighter color) -->
                  <circle cx="25" cy="25" r="24" fill="#CDFFED" />

                  <!-- Phone icon (original color) -->
                  <path
                    d="M13.25,21.59c2.88,5.66,7.51,10.29,13.18,13.17l4.4-4.41c0.55-0.55,1.34-0.71,2.03-0.49c2.24,0.74,4.65,1.14,7.14,1.14c1.11,0,2,0.89,2,2v7c0,1.11-0.89,2-2,2C18.15,42,6,29.85,6,8c0-1.11,0.9-2,2-2h7c1.11,0,2,0.89,2,2c0,2.49,0.4,4.9,1.14,7.14c0.22,0.69,0.06,1.48-0.49,2.03l-4.4,4.42z"
                    fill="#308451"
                    transform="scale(0.7) translate(10, 10)"
                  />
                </svg>
              </a>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>



    </ng-container>
  </div>
</ion-content>
