.cls-supervisor {
  padding: 20px;
}
ion-card {
  background-color: #ffffff;
  border-radius: 18px;
}
p {
  font-family: Montserrat, sans-serif;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}
.cls-b {
  font-weight: 700;
  text-align: center;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  display: inline;
}
.cls-mession {
  padding: 20px;
  border-radius: 50px;
  text-align: center;
}
.cls-card-title {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #233341;
}
.cls-card-title-link {
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #233341;
  display: inline-flex;
  align-items: center;
  gap: 2px;
}
.cls-booth {
  height: 2px;
  background-color: #d9d9d9;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.cls-calendar {
  width: 25px;
  height: 25px;
  color: #ffffff;
}
.cls-flex {
  flex: 0.7 !important;
  max-width: 30px !important;
}
.cls-chip-notif {
  background-color: #ff2323;
  color: #ffffff;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 700;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.cls-m {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  display: block;
}
.cls-show-m {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #233341;
  text-align: left;
}
.top-section {
  background-color: #3aa8d5;
  color: white;
  border-top-left-radius: 8px;
  padding-left: 10px;
  border-top-right-radius: 8px;
}

.block {
  width: 100%;
  padding: 16px;
  background: white;
  border-radius: 14px;
  border: 0.4px solid #4a80b233;
  box-shadow: 5px 4px 10px 0px #dfdfdf;
  text-align: center;
  min-height: 155px;
}
.image-wrapper {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 60px;
}
.badge {
  position: absolute;
  top: 70px;
  right: 61px;
  width: 24px;
  height: 24px;
  background-color: #ff2323;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.badge-row {
  position: absolute;
  top: 70px;
  right: 150px;
  width: 24px;
  height: 24px;
  background-color: #ff2323;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.block-text {
  margin-top: 8px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #233341;
}
.custom-block {
  opacity: 0;
}