<div class="cls-supervisor">
  <p>
    <span class="cls-b">{{ "Hello" | translate }}</span>
    {{ user?.first_name }}
  </p>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngIf="counts?.supervisor_punctuals_count > 0" (click)="goSuperVisorAgentMissions()">
        <div class="block">
          <div class="badge">{{ counts?.supervisor_punctuals_count }}</div>
          <img src="assets/img/Calendarx.png" class="block-image" />
          <div class="block-text">{{ "My missions" | translate }}</div>
        </div>
      </ion-col>

      <ion-col [size]="counts?.supervisor_punctuals_count > 0 ? 6 : 12" (click)="goTickets()">
        <div class="block">
          <img src="assets/img/tickets.png" class="block-image" />
          <div class="block-text">{{ "Tickets" | translate }}</div>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6" (click)="goSuperVisorMissions()">
        <div class="block">
          <div class="badge" *ngIf="counts?.punctuals_count + counts?.regulars_count + counts?.forfaitaires_count > 0">
            {{ counts?.punctuals_count + counts?.regulars_count + counts?.forfaitaires_count }}
          </div>
          <img src="assets/img/History.png" class="block-image" />
          <div class="block-text">{{ "Missions" | translate }}</div>
        </div>
      </ion-col>
      <ion-col size="6" (click)="documents()">
        <div class="block">
          <div class="badge">3</div>
          <img src="assets/img/doc fill.png" class="block-image" />
          <div class="block-text">{{ "Documents" | translate }}</div>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6" (click)="vehicules()">
        <div class="block">
          <div class="badge">1</div>
          <img src="assets/img/Carx.png" class="block-image" />
          <div class="block-text">{{ "Vehicle" | translate }}</div>
        </div>
      </ion-col>
      <ion-col size="6" (click)="placementOfAgents()">
        <div class="block">
          <div class="badge">0</div>
          <img src="assets/img/Locationx.png" class="block-image" />
          <div class="block-text">{{ "Agent placement" | translate }}</div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
