.modal-content {
  padding: 20px;
  animation: modal-slide-up 0.3s ease-in-out;
}

.center-title {
  font-weight: bold;
  text-align: center;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
.center-container {
  padding: 20px;
}
.cls-title {
  font-weight: 700;
  font-size: 16px;
  text-align: center;
}
.custom-card {
  border-radius: 14px;
  box-shadow: 5px 4px 10px 0px #dfdfdf;
  background: linear-gradient(to bottom, #e7edfb 0%, #f4f9fd 100%);
  padding: 10px;
  margin-top: 50px;
}
.custom-button-send {
  --border-radius: 50px;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: none;
  --padding-top: 15px;
  --padding-bottom: 15px;
  --padding-start: 24px;
  --padding-end: 24px;
  margin-top: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content !important;
  min-width: 120px;
  --background: linear-gradient(160deg, #141c28 0%, #22344d 28%, #556f91 50%, #2b405f 72%, #141c28 100%);
  --background-hover: linear-gradient(160deg, #141c28 0%, #22344d 28%, #556f91 50%, #2b405f 72%, #141c28 100%);
  --background-activated: gray;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.validation-message {
  color: red;
  font-size: 12px;
  background: linear-gradient(to bottom, #e7edfb 0%, #f4f9fd 100%);
}

.error-text {
  margin-left: 15px;
  background: linear-gradient(to bottom, #e7edfb 0%, #f4f9fd 100%);
}
.upload-container {
  width: 100%;
  height: auto;
  background-color: linear-gradient(to bottom, #e7edfb 0%, #f4f9fd 100%);
  border: 1px dashed #4a80b2;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 20px;
}
.upload-icon {
  font-size: 50px;
  color: #4a80b2;
}
.upload-text {
  margin-top: 10px;
  color: #233341;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.cls-download-icon {
  text-align: center;
}

.download-icon {
  font-size: 24px;
}

ion-toolbar {
  --background: linear-gradient(160deg, #141c28 0%, #22344d 28%, #556f91 50%, #2b405f 72%, #141c28 100%);
}

.header-button {
  --color: whitesmoke;
  --background: transparent;
}

ion-title {
  color: whitesmoke;
}

ion-item {
  --background: linear-gradient(to bottom, #e7edfb 0%, #f4f9fd 100%);
}
