<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="center-title">Liste de tickets</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="archiveList()">
        <ion-icon name="card"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="cls-ticket">
    <div class="task-card">
      <div class="task-header">
        <h3>Tickets</h3>
      </div>
      <div class="task-item" (click)="addTicket(task)" *ngFor="let task of tasks">
        <div class="task-col-left" *ngIf="task.is_archived == false">
          <div class="task-row">
            <span class="task-title">
              {{ task.title }}
              <span class="task-status">({{task.board.status}})</span>
            </span>
          </div>
          <div class="task-row">
            <img src="assets/img/user.png" class="task-user" />
            <ion-icon name="sync-circle-outline" *ngIf="task.task_type?.[0] == '1'"></ion-icon>
            <ion-icon name="cog-outline" *ngIf="task.task_type?.[0] == '2'"></ion-icon>
            <ion-icon name="extension-puzzle-outline" *ngIf="task.task_type?.[0] == '3'"></ion-icon>
            <ion-icon name="warning-outline" *ngIf="task.task_type?.[0] == '4'"></ion-icon>
            <ion-icon name="mic-outline" *ngIf="task?.audio_file"></ion-icon>
            <ion-icon name="image-outline" *ngIf="task?.image_files?.length > 0"></ion-icon>
            <span class="task-date">⏱ {{ task.deadline }}</span>
          </div>
        </div>
      </div>

      <div #emprtyState class="empty-state" *ngIf="tasks.length === 0">
        <p class="empty-text">Aucun ticket disponible</p>
      </div>
    </div>
  </div>
</ion-content>
<ion-button class="fixed-btn" expand="block" (click)="createNewTicket( )">
  <div class="btn-content">
    <img src="assets/img/add.png" class="btn-img" />
    <span class="btn-text">Ajouter une ticket</span>
  </div>
</ion-button>
