@use "../../assets/scss/mission-style.scss" as *;
.empty-container {
  text-align: center;
  margin-top: 50px;
  padding: 50px;
}
.cls-empty-title {
  font-weight: 700;
  font-size: 16px;
  color: #233341;
}
.cls-empty-d {
  font-weight: 500;
  font-size: 14px;
  color: #233341;
}

.spinner-container {
  display: flex;
  justify-content: center; /* horizontally center */
  align-items: center; /* vertically center */
  height: 60vh; /* controls vertical centering area */
  // margin-top: 20px;         /* adds top spacing if needed */
}

ion-spinner {
  width: 60px;
  height: 60px;
}
