<ion-header [@headerAnim] class="ion-no-border" *ngIf="!isSuperVisor">
  <ion-toolbar class="custom-toolbar-3d">
    <ion-buttons slot="start">
      <ion-avatar (click)="goToProfile()" class="header-button-3d">
        <img alt="Silhouette of a person's head" [src]="user?.photo_urls?.thumb" />
      </ion-avatar>
    </ion-buttons>
    <ion-title class="center-title-3d">{{'My missions' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="notifications-outline" color="white" class="notif"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" *ngIf="!isSuperVisor">
  <ng-container *ngIf="!isSuperVisor">
    <div class="header-container-agent" *ngIf="!isSuperVisor" [@cardsAnim]>
      <div class="month-block" (click)="openPopover($event)" *ngIf="!isSuperVisor" [@cardsAnim]>
        <span class="month-text">{{ currentDate | capitalizeFirstLetter }}</span>
        <ion-icon name="calendar-outline" class="icon-calendar" color="black"></ion-icon>
      </div>
      <!-- <ion-button [@buttonAnim] expand="block" (click)="getByDate()" class="custom-button">{{ "Filter" | translate }}</ion-button> -->
    </div>
    <div class="spinner-container" *ngIf="isLoaded == false">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
    <ng-container *ngIf="(punctuals.length === 0 && regulars.length === 0 && forfaitaires.length === 0) && isLoaded==true">
      <div class="empty-container">
        <img src="assets/img/emty-icon.png" />
        <p class="cls-empty-title">{{'No data found' | translate}}</p>
        <p class="cls-empty-d">{{'It appears that this list is currently empty' | translate}}</p>
      </div>
    </ng-container>
    <ng-container *ngIf="isLoaded==true">
      <div class="animate__animated animate__slideInRight delay-1">
        <app-forfaitaire [data]="forfaitaires" [isTodayPlannings]="isToDayPlannings" [date]="date" [supervisors]="superVisors"></app-forfaitaire>
      </div>

      <div class="animate__animated animate__slideInRight delay-2">
        <app-punctual [data]="punctuals" [date]="date" [isTodayPlannings]="isToDayPlannings" [supervisors]="superVisors"></app-punctual>
      </div>

      <div class="animate__animated animate__slideInRight delay-3">
        <app-regular [data]="regulars" [date]="date" [supervisors]="superVisors"></app-regular>
      </div>
    </ng-container>
  </ng-container>
</ion-content>
<ion-content *ngIf="isSuperVisor" [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="goToProfile()">
          <ion-icon name="person-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title class="center-title">{{'My missions' | translate}}</ion-title>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon name="notifications-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <app-main [counts]="counts"></app-main>
</ion-content>
