<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="end">
      <ion-button class="header-button" (click)="dismiss()">{{ 'Cancel' | translate }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="modal-content">
  <div class="center-container">
    <div class="center-title">
      <p class="cls-title">{{ 'Return mission' | translate }}</p>
    </div>

    <p class="cls-label">{{ returnTime =='' ?('What type of feedback would you like to provide?' | translate ) : returnTime }}</p>

    <div class="reply-card" *ngIf="reply">
      <h5 class="reply-title">Feedback superviseur</h5>
      <div class="images-container">
        <img *ngIf="reply?.reaction_type== 0" src="assets/img/1.png" [class.selected]="reply?.reaction_type === 0" />

        <img *ngIf="reply?.reaction_type==1" src="assets/img/2.png" [class.selected]="reply?.reaction_type === 1" />

        <img *ngIf="reply?.reaction_type==2" src="assets/img/3.png" [class.selected]="reply?.reaction_type === 2" />
        <img *ngIf="reply?.reaction_type==3" src="assets/img/4.png" [class.selected]="reply?.reaction_type === 3" />

        <img *ngIf="reply?.reaction_type==4" src="assets/img/5.png" [class.selected]="reply?.reaction_type === 4" />
        <img *ngIf="reply?.reaction_type==5" src="assets/img/6.png" [class.selected]="reply?.reaction_type === 5" />
      </div>

      <div class="recording-card" *ngIf="reply?.audio_url?.url">
        <!-- Play / Pause -->
        <div class="play-btn" (click)="playRecordingAgain_reply()">
          <ion-icon [name]="isPlaying ? 'pause' : 'play'"></ion-icon>
        </div>

        <!-- Timer -->
        <span class="record-time-reply">{{ durationDisplay_reply }}</span>

        <!-- Wave -->
        <div id="waveform-reply"></div>

        <!-- Audio réel -->
      </div>
    </div>
    <div class="replanification-block m-50" [ngClass]="replanification ? 'bg-FEFD99' : 'bg-FFFFFF'" (click)="selectReason('rescheduling')">
      <ion-icon name="calendar-clear-outline" class="agenda-icon"></ion-icon>
      <span class="replanification-text">{{ 'Replanification' | translate }}</span>
    </div>

    <div class="replanification-block m-10" [ngClass]="truckToEmpty ? 'bg-CDF3FF' : 'bg-FFFFFF'" (click)="selectReason('empty_truck')">
      <ion-icon name="car-outline" class="agenda-icon"></ion-icon>
      <span class="replanification-text">{{ 'Truck to empty' | translate }}</span>
    </div>

    <div class="replanification-block m-10" [ngClass]="agentAbsence ? 'bg-D6BDFF' : 'bg-FFFFFF'" (click)="selectReason('agent_absence')">
      <ion-icon name="person-remove-outline" class="agenda-icon"></ion-icon>
      <span class="replanification-text">{{ 'Agent absence' | translate }}</span>
    </div>

    <div class="replanification-block m-10" [ngClass]="accident ? 'bg-F4C5BA' : 'bg-FFFFFF'" (click)="selectReason('accident')">
      <ion-icon name="medkit-outline" class="agenda-icon"></ion-icon>
      <span class="replanification-text">{{ 'Accident' | translate }}</span>
    </div>

    <div class="vocal-card">
      <p class="vocal-card-title">{{ 'Record a voice' | translate }}</p>

      <div class="vocal-card-grid">
        <div class="vocal-badge" [ngClass]="important ? 'important' : 'not-important'" (click)="selectImportance(true)">
          <ion-icon name="alert-circle-outline" class="badge-icon"></ion-icon>
          <span class="badge-text important-text">{{ 'Important' | translate }}</span>
        </div>
        <div class="vocal-badge" [ngClass]="!important ? 'important' : 'not-important'" (click)="selectImportance(false)">
          <ion-icon name="information-circle-outline" class="badge-icon"></ion-icon>
          <span class="badge-text not-important-text">{{ 'Not Important' | translate }}</span>
        </div>
      </div>

      <div id="waveform"></div>
      <div *ngIf="isRecording || recording" class="cls-timer">{{ durationDisplay }}</div>
      <div class="micro-container m-10">
        <img *ngIf="!recording " src="assets/img/micro.png" alt="micro" class="micro-image" (click)="startRecording()" />
        <ion-icon *ngIf="recording" name="stop-circle-outline" class="stop-icon red-icon cls-btn-stop" (click)="stopRecording()"></ion-icon>
      </div>
      <ion-button *ngIf="blobUrl" class="custom-button-update bg-record-lisen" (click)="playRecordingAgain()">
        <ion-icon name="play-circle-outline" slot="start"></ion-icon>
        {{ 'Listen to the recording again' | translate }}
      </ion-button>
      <ion-button class="custom-button-update bg-save" (click)="createMissionReturn()">
        <ion-icon name="checkmark-outline" slot="start"></ion-icon>
        {{ 'Confirm mission return' | translate }}
      </ion-button>
    </div>
  </div>
</ion-content>
