<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="center-title">{{ 'My missions' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="animate__animated animate__fadeInUp header-container-agent">
    <div class="animate__animated animate__fadeInUp month-block" (click)="openPopover($event)">
      <span class="animate__animated animate__fadeInUp month-text">{{ currentDate | capitalizeFirstLetter }}</span>
      <ion-icon name="calendar-outline" class="animate__animated animate__fadeInUp icon-calendar"></ion-icon>
    </div>
    <!-- <ion-button expand="block" (click)="getByDate()" class="animate__animated animate__fadeInUp custom-button">{{ "Filter" | translate }}</ion-button> -->
  </div>
  <ng-container *ngIf="punctuals.length == 0">
    <div class="animate__animated animate__fadeInUp empty-container">
      <img src="assets/img/emty-icon.png" />
      <p class="animate__animated animate__fadeInUp cls-empty-title">{{'No data found' | translate}}</p>
      <p class="animate__animated animate__fadeInUp cls-empty-d">{{'It appears that this list is currently empty' | translate}}</p>
    </div>
  </ng-container>

        <div class="animate__animated animate__slideInRight delay-1">
        <!-- <app-forfaitaire [data]="forfaitaires" [isToDayPlannings]="isTodayPlannings" [date]="date" [supervisors]="superVisors"></app-forfaitaire> -->
      </div>

      <div class="animate__animated animate__slideInRight delay-2">
        <app-punctual [data]="punctuals" [isAgent] ="true" [date]="date" [isToDayPlannings]="isTodayPlannings" [supervisors]="superVisors"></app-punctual>
      </div>

      <div class="animate__animated animate__slideInRight delay-3">
        <!-- <app-regular [data]="regulars" [date]="date" [supervisors]="superVisors"></app-regular> -->
      </div>
</ion-content>
