@use "../../../../../assets/scss/mission-style.scss" as *;
.center-title {
  font-weight: bold;
  text-align: center;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
.custom-card {
  border-radius: 14px;
  box-shadow: 5px 4px 10px 0px #dfdfdf;
  background-color: white;
  padding: 10px;
  margin-top: 20px;
}
.custom-input {
  flex: 1;
  --padding-start: 0;
  border-radius: 14px;
  font-size: 16px;
}
.input-icon {
  font-size: 20px;
  color: #233341;
  margin-left: 8px;
}
.input-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  background: white;
  border-radius: 14px;
  box-shadow: 0px 4px 4px 0px #dfdfdf;
  padding: 8px 12px;
  height: 50px;
}

.button-container {
  display: flex;
  justify-content: center;
}
.custom-button {
  --border-radius: 50px;
  --background: #00a2e1;
  --background-hover: #00a2e1;
  --background-activated: #00a2e1;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 20px;
  text-transform: none;
  color: #fff;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}
.month-block {
  height: 45px;
  width: 80%;
  border-radius: 14px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  box-shadow: 0px 4px 4px 0px #00000040;
  cursor: pointer;
}
.month-text {
  color: #707070;
  font-size: 14px;
  font-weight: bold;
}
.icon-calendar {
  font-size: 20px;
  color: #4a80b2;
}
.document-block {
  height: 45px;
  width: 20%;
  border-radius: 14px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.icon-document {
  font-size: 20px;
  color: #b6b6b6;
}
.icon-document-active {
  font-size: 20px;
  color: white;
}
.document-block-active {
  height: 45px;
  width: 20%;
  border-radius: 14px;
  background: #4a80b2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  box-shadow: 0px 4px 4px 0px #00000040;
  color: white;
}
.center-toggle {
  width: 60%;
  height: 45px;
  border-radius: 20px;
  background: #ffffff;
  border: 1px solid #dadada;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
}
.toggle-option {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 100%;
}
.left-option {
  width: 100%;
  border-radius: 20px;
  background: #00a2e1;
  .icon-site {
    width: 24px;
    height: 24px;
    color: #fafafa;
  }
  .text-site {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.84px;
    text-align: center;
    color: #fafafa;
  }
}
.right-option {
  width: 100%;
  padding-right: 3px;
  padding-left: 4px;
  .text-agent {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.84px;
    text-align: center;
    text-transform: capitalize;
    color: #233341;
  }
  .icon-agent {
    width: 24px;
    height: 24px;
    color: #00a2e1;
    padding: 2px;
  }
}
.bi {
  width: 100%;
  height: 20px;
}
.card-agent {
  width: 95%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 14px;
  padding: 6px 10px;
  background: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.1);
  box-shadow: 5px 4px 10px 0px #dfdfdf;
  margin: 0 auto;
  margin-top: 15px;
}
.agent-img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}
.agent-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.agent-name,
.agent-missions {
  width: 100%;
  text-align: left;
}
.agent-name {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -0.015em;
  color: #233341;
  margin-top: 10px;
}
.agent-missions {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -0.015em;
  color: #233341;
  margin-top: 10px;
}

.filter-container {
  padding-bottom: 20px;
}



.logo , img {
  max-height: 85px;
  min-height: 60px;
}