<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="animate__animated animate__fadeInUp center-title">{{ headerTitle | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="animate__animated animate__fadeInUp custom-card card">
    <ion-card-content class="animate__animated animate__fadeInUp filter-container">
      <div class="animate__animated animate__fadeInUp input-container">
        <ion-input placeholder="Rechercher..." #search_input [formControl]="searchControl" class="animate__animated animate__fadeInUp custom-input"></ion-input>
        <ion-icon name="search-outline" class="animate__animated animate__fadeInUp input-icon"></ion-icon>
      </div>
      <div class="animate__animated animate__fadeInUp header-container">
        <div class="animate__animated animate__fadeInUp month-block" (click)="openPopover($event)">
          <span class="animate__animated animate__fadeInUp month-text">{{ currentMonth | capitalizeFirstLetter }}</span>
          <ion-icon name="calendar-outline" class="animate__animated animate__fadeInUp icon-calendar"></ion-icon>
        </div>

        <div *ngIf="plannings.length" class="animate__animated animate__fadeInUp document-block">{{plannings.length}}</div>
      </div>
      <div class="animate__animated animate__fadeInUp button-container">
        <!-- <ion-button expand="block" (click)="getByDate()" class="animate__animated animate__fadeInUp custom-button">{{'Filter' | translate}}</ion-button> -->
      </div>
    </ion-card-content>
  </ion-card>

  <ng-container *ngIf="type =='regular'">
    <div class="animate__animated animate__fadeInUp center-toggle" *ngIf="!isAgent">
      <div class="animate__animated animate__fadeInUp toggle-option left-option" (click)="siteOrAgent(false)">
        <ion-icon name="newspaper-outline" class="animate__animated animate__fadeInUp icon-site"></ion-icon>
        <span class="animate__animated animate__fadeInUp text-site">{{'Site' | translate}}</span>
      </div>
      <div class="animate__animated animate__fadeInUp toggle-option right-option" (click)="siteOrAgent(true)">
        <span class="animate__animated animate__fadeInUp text-agent">{{'Agent' | translate}}</span>
        <ion-icon name="person-outline" class="animate__animated animate__fadeInUp icon-agent"></ion-icon>
      </div>
    </div>

    <div class="animate__animated animate__fadeInUp center-toggle" *ngIf="isAgent">
      <div class="animate__animated animate__fadeInUp toggle-option right-option" (click)="siteOrAgent(false)">
        <ion-icon name="newspaper-outline" class="animate__animated animate__fadeInUp icon-agent"></ion-icon>
        <span class="animate__animated animate__fadeInUp text-agent">{{'Site' | translate}}</span>
      </div>
      <div class="animate__animated animate__fadeInUp toggle-option left-option" (click)="siteOrAgent(true)">
        <span class="animate__animated animate__fadeInUp text-site">{{'Agent' | translate}}</span>
        <ion-icon name="person-outline" class="animate__animated animate__fadeInUp icon-site"></ion-icon>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="plannings.length == noSchedule">
    <div class="animate__animated animate__fadeInUp empty-container">
      <img src="assets/img/emty-icon.png" />
      <p class="animate__animated animate__fadeInUp cls-empty-title">{{'No data found' | translate}}</p>
      <p class="animate__animated animate__fadeInUp cls-empty-d">{{'It appears that this list is currently empty' | translate}}</p>
    </div>
  </ng-container>

  <div class="animate__animated animate__fadeInUp bi"></div>
  <ng-container>
    <div class="animate__animated animate__fadeInUp item-missions" (click)="menuMession(item)" *ngFor="let item of plannings; let i = index">
      <ion-card class="animate__animated animate__fadeInUp card" *ngIf="item?.today_schedule">
        <ion-card-header class="animate__animated animate__fadeInUp card-header">
          <ion-card-title>
            <ion-grid>
              <ion-row>
                <ion-col size="9" push="3">
                  <p class="animate__animated animate__fadeInUp name-campany">{{ item.intervention?.name }}</p>
                </ion-col>
                <ion-col class="animate__animated animate__fadeInUp logo" size="3" pull="9">
                  <img
                    src="{{
             item?.intervention?.logos?.url || 'https://backend.ideogroupe.com/assets/img/default-company.png'
            }}"
                    class="animate__animated animate__fadeInUp logo"
                  />
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-chip color="tertiary" class="animate__animated animate__fadeInUp custom-chip">
              <ion-icon name="people-outline"></ion-icon>
              {{ "team" | translate }}
            </ion-chip>
          </ion-card-title>
        </ion-card-header>

        <ion-card-content class="animate__animated animate__fadeInUp card-content">
          <ion-list class="animate__animated animate__fadeInUp list">
            <ion-item *ngFor="let agent of item?.team.slice(0, 2); let last = last" [attr.lines]="item.team.length <= 2 && last ? 'none' : null">
              <ng-container *ngIf="!agent.manager">
                <ion-thumbnail *ngIf="agent.is_teamleader" slot="start">
                  <div class="animate__animated animate__fadeInUp avatar-container">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M20 21C20 18.2386 16.4183 16 12 16C7.58172 16 4 18.2386 4 21" stroke="#233341" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                      <path
                        d="M12.0001 5V2M6 7.89999H18M7.52728 9C7.63637 11.2 9.6 13 12 13C14.5091 13 16.4727 11.2 16.4727 8.9V7.1C16.4727 4.8 14.5091 3 12 3C9.6 3 7.63637 4.8 7.52728 7V9Z"
                        stroke="#233341"
                        stroke-width="2"
                        stroke-miterlimit="10"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </div>
                </ion-thumbnail>
                <ion-grid *ngIf="agent.is_teamleader" class="animate__animated animate__fadeInUp custom-grid">
                  <ion-row>
                    <ion-col size="12">
                      <p class="animate__animated animate__fadeInUp name-agent wrap-text">
                        {{ agent.first_name }} {{ agent.last_name }}
                        <br />
                        <span *ngIf="agent.vehicule" class="animate__animated animate__fadeInUp job-agent wrap-text">{{ agent.vehicule.name }}</span>
                      </p>
                    </ion-col>
                  </ion-row>
                </ion-grid>
                <ion-thumbnail *ngIf="agent.is_driver && !agent.is_teamleader" slot="start">
                  <div class="animate__animated animate__fadeInUp avatar-container">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M3 11H21M20 17V11.6791C20 11.4256 20.0001 11.2988 19.9844 11.1742C19.9704 11.0635 19.947 10.954 19.9148 10.8472C19.8786 10.7269 19.827 10.6112 19.724 10.3795L18.1777 6.90039C17.872 6.21253 17.7192 5.86852 17.4775 5.61633C17.264 5.39341 17.0021 5.223 16.7116 5.11837C16.383 5 16.0063 5 15.2536 5H8.74609C7.99336 5 7.61716 5 7.28857 5.11837C6.99813 5.223 6.73604 5.39341 6.52246 5.61633C6.28084 5.86852 6.12785 6.21253 5.82214 6.90039L4.27588 10.3795C4.17291 10.6112 4.12122 10.7269 4.08496 10.8472C4.05276 10.954 4.02969 11.0635 4.01572 11.1742C4 11.2988 4 11.4256 4 11.6791V17M20 17L4 17M20 17V18C20 19.1046 19.1046 20 18 20C16.8954 20 16 19.1046 16 18V17M4 17V18C4 19.1046 4.89543 20 6 20C7.10457 20 8 19.1046 8 18V17"
                        stroke="#233341"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </div>
                </ion-thumbnail>
                <ion-grid *ngIf="agent.is_driver && !agent.is_teamleader" class="animate__animated animate__fadeInUp custom-grid">
                  <ion-row>
                    <ion-col size="12">
                      <p class="animate__animated animate__fadeInUp name-agent wrap-text">
                        {{ agent.first_name }} {{ agent.last_name }}
                        <br />
                        <span *ngIf="agent.vehicule" class="animate__animated animate__fadeInUp job-agent wrap-text">{{ agent.vehicule.name }}</span>
                      </p>
                    </ion-col>
                  </ion-row>
                </ion-grid>
                <ion-thumbnail *ngIf="!agent.is_driver && !agent.is_teamleader " slot="start">
                  <div class="animate__animated animate__fadeInUp avatar-container">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M21 19.9999C21 18.2583 19.3304 16.7767 17 16.2275M15 20C15 17.7909 12.3137 16 9 16C5.68629 16 3 17.7909 3 20M15 13C17.2091 13 19 11.2091 19 9C19 6.79086 17.2091 5 15 5M9 13C6.79086 13 5 11.2091 5 9C5 6.79086 6.79086 5 9 5C11.2091 5 13 6.79086 13 9C13 11.2091 11.2091 13 9 13Z"
                        stroke="#233341"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </div>
                </ion-thumbnail>
                <ion-grid *ngIf="!agent.is_driver && !agent.is_teamleader " class="animate__animated animate__fadeInUp custom-grid">
                  <ion-row>
                    <ion-col size="12">
                      <p class="animate__animated animate__fadeInUp name-agent wrap-text">
                        {{ agent.first_name }} {{ agent.last_name }}
                        <br />
                        <span class="animate__animated animate__fadeInUp job-agent wrap-text">{{ "company name" | translate }}</span>
                      </p>
                    </ion-col>
                  </ion-row>
                </ion-grid>
                <app-pointing-status-indicators [agent]="agent"></app-pointing-status-indicators>
              </ng-container>
              <ng-container *ngIf="agent.manager">
                <ion-thumbnail slot="start">
                  <div class="animate__animated animate__fadeInUp avatar-container">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M21 19.9999C21 18.2583 19.3304 16.7767 17 16.2275M15 20C15 17.7909 12.3137 16 9 16C5.68629 16 3 17.7909 3 20M15 13C17.2091 13 19 11.2091 19 9C19 6.79086 17.2091 5 15 5M9 13C6.79086 13 5 11.2091 5 9C5 6.79086 6.79086 5 9 5C11.2091 5 13 6.79086 13 9C13 11.2091 11.2091 13 9 13Z"
                        stroke="#233341"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </div>
                </ion-thumbnail>
                <ion-grid class="animate__animated animate__fadeInUp custom-grid">
                  <ion-row>
                    <ion-col size="12">
                      <p class="animate__animated animate__fadeInUp name-agent wrap-text">
                        {{ agent.first_name }} {{ agent.last_name }}
                        <br />
                        <span class="animate__animated animate__fadeInUp job-agent wrap-text">{{ agent.company_name}}</span>
                      </p>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ng-container>
            </ion-item>

            <div class="animate__animated animate__fadeInUp expandable-content" [class.expanded]="item.showDetails" *ngIf="item.team.length > 2">
              <ion-item *ngFor="let agent of item?.team.slice(2); let last = last" [attr.lines]="last ? 'none' : null" class="animate__animated animate__fadeInUp expandable-item">
                <ng-container *ngIf="!agent.manager">
                  <ion-thumbnail *ngIf="agent.is_teamleader" slot="start">
                    <div class="animate__animated animate__fadeInUp avatar-container">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20 21C20 18.2386 16.4183 16 12 16C7.58172 16 4 18.2386 4 21" stroke="#233341" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path
                          d="M12.0001 5V2M6 7.89999H18M7.52728 9C7.63637 11.2 9.6 13 12 13C14.5091 13 16.4727 11.2 16.4727 8.9V7.1C16.4727 4.8 14.5091 3 12 3C9.6 3 7.63637 4.8 7.52728 7V9Z"
                          stroke="#233341"
                          stroke-width="2"
                          stroke-miterlimit="10"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </div>
                  </ion-thumbnail>
                  <ion-grid *ngIf="agent.is_teamleader" class="animate__animated animate__fadeInUp custom-grid">
                    <ion-row>
                      <ion-col size="12">
                        <p class="animate__animated animate__fadeInUp name-agent wrap-text">
                          {{ agent.first_name }} {{ agent.last_name }}
                          <br />
                          <span *ngIf="agent.vehicule" class="animate__animated animate__fadeInUp job-agent wrap-text">{{ agent.vehicule.name }}</span>
                        </p>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                  <ion-thumbnail *ngIf="agent.is_driver && !agent.is_teamleader" slot="start">
                    <div class="animate__animated animate__fadeInUp avatar-container">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M3 11H21M20 17V11.6791C20 11.4256 20.0001 11.2988 19.9844 11.1742C19.9704 11.0635 19.947 10.954 19.9148 10.8472C19.8786 10.7269 19.827 10.6112 19.724 10.3795L18.1777 6.90039C17.872 6.21253 17.7192 5.86852 17.4775 5.61633C17.264 5.39341 17.0021 5.223 16.7116 5.11837C16.383 5 16.0063 5 15.2536 5H8.74609C7.99336 5 7.61716 5 7.28857 5.11837C6.99813 5.223 6.73604 5.39341 6.52246 5.61633C6.28084 5.86852 6.12785 6.21253 5.82214 6.90039L4.27588 10.3795C4.17291 10.6112 4.12122 10.7269 4.08496 10.8472C4.05276 10.954 4.02969 11.0635 4.01572 11.1742C4 11.2988 4 11.4256 4 11.6791V17M20 17L4 17M20 17V18C20 19.1046 19.1046 20 18 20C16.8954 20 16 19.1046 16 18V17M4 17V18C4 19.1046 4.89543 20 6 20C7.10457 20 8 19.1046 8 18V17"
                          stroke="#233341"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </div>
                  </ion-thumbnail>
                  <ion-grid *ngIf="agent.is_driver && !agent.is_teamleader" class="animate__animated animate__fadeInUp custom-grid">
                    <ion-row>
                      <ion-col size="12">
                        <p class="animate__animated animate__fadeInUp name-agent wrap-text">
                          {{ agent.first_name }} {{ agent.last_name }}
                          <br />
                          <span *ngIf="agent.vehicule" class="animate__animated animate__fadeInUp job-agent wrap-text">{{ agent.vehicule.name }}</span>
                        </p>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                  <ion-thumbnail *ngIf="!agent.is_driver && !agent.is_teamleader " slot="start">
                    <div class="animate__animated animate__fadeInUp avatar-container">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M21 19.9999C21 18.2583 19.3304 16.7767 17 16.2275M15 20C15 17.7909 12.3137 16 9 16C5.68629 16 3 17.7909 3 20M15 13C17.2091 13 19 11.2091 19 9C19 6.79086 17.2091 5 15 5M9 13C6.79086 13 5 11.2091 5 9C5 6.79086 6.79086 5 9 5C11.2091 5 13 6.79086 13 9C13 11.2091 11.2091 13 9 13Z"
                          stroke="#233341"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </div>
                  </ion-thumbnail>
                  <ion-grid *ngIf="!agent.is_driver && !agent.is_teamleader " class="animate__animated animate__fadeInUp custom-grid">
                    <ion-row>
                      <ion-col size="12">
                        <p class="animate__animated animate__fadeInUp name-agent wrap-text">
                          {{ agent.first_name }} {{ agent.last_name }}
                          <br />
                          <span class="animate__animated animate__fadeInUp job-agent wrap-text">{{ "company name" | translate }}</span>
                        </p>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                  <app-pointing-status-indicators [agent]="agent"></app-pointing-status-indicators>
                </ng-container>
                <ng-container *ngIf="agent.manager">
                  <ion-thumbnail slot="start">
                    <div class="animate__animated animate__fadeInUp avatar-container">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M21 19.9999C21 18.2583 19.3304 16.7767 17 16.2275M15 20C15 17.7909 12.3137 16 9 16C5.68629 16 3 17.7909 3 20M15 13C17.2091 13 19 11.2091 19 9C19 6.79086 17.2091 5 15 5M9 13C6.79086 13 5 11.2091 5 9C5 6.79086 6.79086 5 9 5C11.2091 5 13 6.79086 13 9C13 11.2091 11.2091 13 9 13Z"
                          stroke="#233341"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </div>
                  </ion-thumbnail>
                  <ion-grid class="animate__animated animate__fadeInUp custom-grid">
                    <ion-row>
                      <ion-col size="12">
                        <p class="animate__animated animate__fadeInUp name-agent wrap-text">
                          {{ agent.first_name }} {{ agent.last_name }}
                          <br />
                          <span class="animate__animated animate__fadeInUp job-agent wrap-text">{{ agent.company_name}}</span>
                        </p>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ng-container>
              </ion-item>
            </div>
          </ion-list>
        </ion-card-content>

        <div class="animate__animated animate__fadeInUp show-more-container" *ngIf="item?.team.length > 2" (click)="toggleDetails(item); $event.stopPropagation()">
          <p class="animate__animated animate__fadeInUp show-more-text">{{ item.showDetails ? ("Show less" | translate) : ("Show more" | translate) }}</p>
          <ion-icon class="animate__animated animate__fadeInUp icon-show-more" [class.rotated]="item.showDetails" [name]="item.showDetails ? 'caret-up-circle-outline' : 'caret-down-circle-outline'"></ion-icon>
        </div>
      </ion-card>
    </div>
  </ng-container>

  <ng-container *ngIf="isAgent">
    <div class="animate__animated animate__fadeInUp card-agent" *ngFor="let agent of planningsPerAgent; let i = index" (click)="goRegularPerAgent(agent)">
      <ion-grid>
        <ion-row class="animate__animated animate__fadeInUp ion-align-items-center">
          <ion-col size="auto">
            <img [src]="agent?.photo?.url" alt="Agent" class="animate__animated animate__fadeInUp agent-img" />
          </ion-col>
          <ion-col class="animate__animated animate__fadeInUp agent-info">
            <div class="animate__animated animate__fadeInUp agent-name">{{`${agent.first_name} ${agent.last_name}`}}</div>
            <div class="animate__animated animate__fadeInUp agent-missions">{{agent.plannings.length}} {{agent.plannings.length > 1 ? 'missions' : 'mission'}}</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ng-container>
</ion-content>
