.center-title {
  font-weight: bold;
  text-align: center;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
.cls-details {
  padding: 20px;
  margin-top: 20px;
}
.vehicle-label {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.015em;
  color: #233341;
  text-align: left;
  margin-top: 20px;
}
.custom-card {
  border-radius: 14px;
  box-shadow: 5px 4px 10px 0px #dfdfdf;
  background-color: white;
  padding: 10px;
  margin-top: 20px;
}
.input-container {
  position: relative;
  width: 100%;
  border: 1px solid #bfbfbf;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 15px;
}
.custom-input {
  flex: 1;
  font-size: 18px;
  font-weight: 500;
  color: #707070;
}
.input-icon {
  color: #707070;
  font-size: 22px;
}
.custom-button {
  --border-radius: 50px;
  --background: #00a2e1;
  --background-hover: #00a2e1;
  --background-activated: #00a2e1;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 20px;
  text-transform: none;
  color: #fff;
}
.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}
.icon-image {
  object-fit: cover;
}
.vehicle-image {
  width: 64px;
  height: 64px;
  border-radius: 14.49px;
  object-fit: cover;
}
.car-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.car-name {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #233341;
  margin: 0;
}
.status-badge {
  background-color: #cdf3ff;
  color: #233341;
  font-size: 14px;
  font-weight: 400;
  padding: 4px 8px;
  border-radius: 12px;
  margin-top: 4px;
  max-width: fit-content;
}
.mt-40 {
  margin-top: 40px;
}
.arrow-icon {
  font-size: 24px;
  color: #00a2e1;
}
.blue-box {
  padding: 16px;
  border-radius: 8px;
  color: #fff;
  display: flex;
  --background: linear-gradient(to right, #cceeff, #ffffff);
  display: flex;
  flex-direction: column;
}
.gradient-item {
  --background: linear-gradient(to right, #cceeff, #ffffff);
}
.gradient-list {
  border-radius: 8px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  background: linear-gradient(to right, #cceeff, #ffffff);
}
.flex {
  display: flex;
  gap: 9px;
  justify-content: center;
  margin-top: 130px;
  flex-wrap: nowrap;
  margin-left: 25px;
  margin-right: 25px;
  background: #cceeff;
  border-radius: 18px;
  .custom-button-update {
    --border-radius: 20px;
    font-family: Montserrat, sans-serif;
    font-size: 30px;
    text-transform: none;
    color: #233341;
    width: 20%;
  }
  .bg-record-lisen {
    --background: #cceeff;
    --background-hover: #cceeff;
    --background-activated: #cceeff;
  }
}
.play-icon {
  color: #233341;
  margin: 0px;
}
.voice-container {
  margin-left: 20px;
  border-radius: 18px;
  width: 250px;
}
.waveform {
  height: 60px;
  width: 80%;
  background: #cceeff;
  border-radius: 18px;
  margin-top: 6px;
}
.anumation-block {
  opacity: 0;
}