<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="center-title">{{name}}</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" *ngIf="!sliderOpen">
  <div class="animate__animated animate__fadeInUp cls-details">
    <div class="animate__animated animate__fadeInUp vehicle-label">{{'Vehicle1' | translate}}</div>
    <ion-card class="animate__animated animate__fadeInUp custom-card">
      <div class="animate__animated animate__fadeInUp card-header">
        <img [src]="image" alt="Vehicle photo" class="animate__animated animate__fadeInUp vehicle-image" />
        <div class="animate__animated animate__fadeInUp car-info">
          <h2 class="animate__animated animate__fadeInUp car-name">{{name}}</h2>
        </div>
      </div>
    </ion-card>
    <div class="animate__animated animate__fadeInUp vehicle-label">{{'Vehicle return history' | translate}}</div>
    <ion-card class="animate__animated animate__fadeInUp custom-card" *ngFor="let raison of data.return_raison.split(',')">
      <div class="animate__animated animate__fadeInUp card-header">
        <img [src]="getRaisonIcon(raison)" class="animate__animated animate__fadeInUp icon-image" />

        <div class="animate__animated animate__fadeInUp car-info">
          <h2 class="animate__animated animate__fadeInUp car-name">
            {{ raison == 'has_issue' ? "Défaut" : "" }} {{ raison == 'not_functional' ? "Non roulat" : "" }} {{ raison == 'get_vehicule' ? "Atrribution" : "" }} {{ raison ==
            'not_adapted' ? "Non adapter" : "" }} {{ raison == 'first' ? "Premier" : "" }}
          </h2>
          <span class="animate__animated animate__fadeInUp status-badge">{{data.date}}</span>
        </div>
        <ion-icon name="eye-outline" class="animate__animated animate__fadeInUp arrow-icon" (click)="openSliderModal(data, raison)"></ion-icon>
      </div>
    </ion-card>
  </div>
</ion-content>

<ion-content *ngIf="sliderOpen">
  <app-glide [images]="sliderPhotos" [index]="initialIndexPhoto"></app-glide>
  <div *ngFor="let voice of voices; let i = index" class="animate__animated animate__fadeInUp flex">
    <ion-button class="animate__animated animate__fadeInUp custom-button-update bg-record-lisen grid-item" (click)="playRecordingAgain(i)">
      <ion-icon class="animate__animated animate__fadeInUp play-icon" name="play-circle-outline" slot="start"></ion-icon>
    </ion-button>
    <div #waveformContainer [id]="'waveform-' + i" class="animate__animated animate__fadeInUp grid-item waveform"></div>
  </div>

  <div class="animate__animated animate__fadeInUp blue-box">
    <ion-list class="animate__animated animate__fadeInUp gradient-list">
      <ion-item *ngFor="let note of notes" class="animate__animated animate__fadeInUp gradient-item">{{ note }}</ion-item>
    </ion-list>
  </div>
</ion-content>
