.center-title {
  font-weight: bold;
  text-align: center;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
.cls-details {
  padding: 20px;
  margin-top: 20px;
}
.date-select-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  position: relative;
}
.date-picker {
  position: absolute;
  top: 55px;
  z-index: 999;
  background: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: max-content;
}
.custom-date-item {
  background: #ffffff;
  box-shadow: 0px 4px 4px 0px #00000040;
  font-family: Montserrat;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -0.015em;
  border-radius: 8px;
  padding: 8px 12px;
  width: auto;
  min-width: 180px;
  display: flex;
  align-items: center;
  height: 44px;
  position: relative;
  overflow: hidden;
}
.custom-date-input {
  font-family: Montserrat;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -0.015em;
  vertical-align: middle;
  color: #707070;
  flex: 1;
  border: none;
  background: transparent;
  outline: none;
  height: 100%;
  padding: 0;
  margin: 0;
  appearance: none;
}
.calendar-icon {
  color: #00a2e1;
}
.center-toggle {
  width: 60%;
  height: 45px;
  border-radius: 20px;
  background: #ffffff;
  border: 1px solid #dadada;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
}
.toggle-option {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 100%;
}
.left-option {
  width: 100%;
  border-radius: 20px;
  background: #00a2e1;
  .icon-site {
    width: 24px;
    height: 24px;
    color: #fafafa;
  }
  .text-site {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.84px;
    text-align: center;
    color: #fafafa;
  }
}
.right-option {
  width: 100%;
  padding-right: 3px;
  padding-left: 4px;
  .text-agent {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.84px;
    text-align: center;
    text-transform: capitalize;
    color: #233341;
  }
  .icon-agent {
    width: 24px;
    height: 24px;
    color: #00a2e1;
    padding: 2px;
  }
}
.bi {
  width: 100%;
  height: 20px;
}
.card-agent {
  width: 95%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 14px;
  padding: 6px 10px;
  background: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.1);
  box-shadow: 5px 4px 10px 0px #dfdfdf;
  margin: 0 auto;
  margin-top: 15px;
}
.agent-img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}
.agent-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.agent-name,
.agent-missions {
  width: 100%;
  text-align: left;
}
.agent-name {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -0.015em;
  color: #233341;
  margin-top: 10px;
}
.agent-missions {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -0.015em;
  color: #233341;
  margin-top: 10px;
}
.filter-container {
  padding-bottom: 0;
}
.custom-select-wrapper {
  margin-top: 20px;
  width: 100%;
  height: 44px;
  padding: 7px;
  background: #ffffff;
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.select-left {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.015em;
  color: #233341;
  vertical-align: middle;
}
.select-right {
  display: flex;
  align-items: center;
  gap: 6px;
}
.select-text {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.15px;
  color: #000000;
  vertical-align: middle;
  line-height: 24px;
}
.select-options {
  margin-top: 6px;
  background: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 280px;
}
.custom-image-grid {
  padding: 10px;

  ion-row {
    flex-wrap: wrap;
  }
  ion-col {
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
  }
  .image-wrapper {
    width: 114.29px;
    height: 114.29px;
    border-radius: 28.57px;
    border: 1.43px dashed #4a80b2;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }
  .styled-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
  }
}
.custom-card {
  margin-top: 20px;
  width: 100%;
  border-radius: 14px;
  padding: 16px;
  background: #ffffff;
  box-shadow: 0px 4px 4px 0px #00000040;
  display: flex;
  margin: auto 0;
}
.card-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #707070;
  display: flex;
  justify-content: center;
}
.voice {
  margin-top: 30px;
}
.waveform {
  width: 100%;
  min-width: 200px;
}
.play {
  --background: #00a2e1;
  --border-radius: 40%;
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.play-icon {
  font-size: 24px;
  margin-left: 7px;
}
.voice-item {
  width: 100%;
}
.empty-container {
  text-align: center;
  margin-top: 50px;
  padding: 50px;
}
.cls-empty-title {
  font-weight: 700;
  font-size: 16px;
  color: #233341;
}
.cls-empty-d {
  font-weight: 500;
  font-size: 14px;
  color: #233341;
}
