<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="center-title">Rapport photos</ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="animate__animated animate__fadeInUp cls-details" *ngIf="!isSliderOpen">

    <!-- Select -->
    <div class=" custom-select-container">
      <div class=" left">
        <span class=" selected-text">{{ selectedOption }}</span>
      </div>

      <div class=" animate__animated animate__fadeInUpright">
        <span class=" select-label">Select</span>
        <ion-icon
          name="chevron-down-outline"
          class=" select-icon">
        </ion-icon>
      </div>

      <select
        [(ngModel)]="selectedOption"
        (change)="onChange($event)"
        class=" select-native"
        name="select">
        <option value="Tous les agents">Tous les agents</option>
        <option
          *ngFor="let agent of team"
          [value]="agent?.full_name">
          {{ agent?.full_name }}
        </option>
      </select>
    </div>

    <!-- Tabs -->
    <div class="animate__animated animate__fadeInUp custom-tab-container">
      <div class="tabs">
        <div
          class=" tab"
          [class.active]="activeTab === 'prestation'"
          (click)="setActiveTab('prestation')">
          <ion-icon name="image-outline"></ion-icon>
          <span>Prestation</span>
        </div>

        <div
          class="animate__animated animate__fadeInUp tab"
          [class.active]="activeTab === 'Camion'"
          (click)="setActiveTab('Camion')">
          <ion-icon name="car-outline"></ion-icon>
          <span>Camion</span>
        </div>
      </div>

      <div class=" tab-content">

        <!-- PRESTATION -->
        <div *ngIf="activeTab === 'prestation'">

          <ng-container *ngIf="images.length === 0">
            <div class="animate__animated animate__fadeInUp empty-container">
              <img src="assets/img/emty-icon.png" />
              <p class=" cls-empty-title">
                {{ 'No data found' | translate }}
              </p>
              <p class="cls-empty-d">
                {{ 'It appears that this list is currently empty' | translate }}
              </p>
            </div>
          </ng-container>

          <div class="animate__animated animate__fadeInUp image-grid">
            <div
              class="animate__animated animate__fadeInUp grid-item"
              *ngFor="let pair of images; let i = index">

              <div
                class="label"
                *ngIf="i === 0 || pair?.agent !== images[i - 1]?.agent">
                {{ pair?.agent }}
              </div>

              <div class="image-pair">

                <div
                  class="image-column"
                  *ngIf="pair?.before?.image_url?.url">
                  <img
                    [src]="pair.before.image_url.thumb"
                    alt="Before"
                    (click)="openSlides('photo_before', i)" />
                </div>

                <div
                  class=" image-column"
                  *ngIf="pair?.after?.image_url?.url">
                  <img
                    [src]="pair.after.image_url.thumb"
                    alt="After"
                    (click)="openSlides('photo_after', i)" />
                  <div class=" label">After</div>
                </div>

              </div>
            </div>
          </div>
        </div>

        <!-- CAMION -->
        <div *ngIf="activeTab === 'Camion'">

          <ng-container *ngIf="imagesCamions.length === 0">
            <div class="animate__animated animate__fadeInUp empty-container">
              <img src="assets/img/emty-icon.png" />
              <p class="cls-empty-title">
                {{ 'No data found' | translate }}
              </p>
              <p class="cls-empty-d">
                {{ 'It appears that this list is currently empty' | translate }}
              </p>
            </div>
          </ng-container>

          <div class="animate__animated animate__fadeInUp truck-grid">
            <div class="animate__animated animate__fadeInUp camions-grid">
              <div
                class=" camion-item"
                *ngFor="let obj of imagesCamions; let i = index">
                <img
                  [src]="obj?.url"
                  alt="Camion"
                  (click)="openSlides('photo_truck', i)" />
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- Buttons -->
    <div class="animate__animated animate__fadeInUp btn-container">
      <ion-button
        class="custom-button"
        expand="block"
        (click)="downloadZip()">
        <ion-img
          slot="start"
          class="btn-icon"
          src="assets/img/Download.png">
        </ion-img>
        Télécharger les photos
      </ion-button>

      <ion-button
        class="animate__animated animate__fadeInUp custom-button"
        expand="block"
        (click)="sendReport()">
        <ion-img
          slot="start"
          class=" btn-icon"
          src="assets/img/Navigation.png">
        </ion-img>
        Envoyez vers le client
      </ion-button>
    </div>

  </div>

  <app-glide
    *ngIf="isSliderOpen"
    [images]="sliderPhotos"
    [index]="initialIndexPhoto">
  </app-glide>
</ion-content>
