<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="header-button" (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="center-title">Pointage</ion-title>
    <ion-buttons slot="end">
      <ion-button class="header-button">
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="custom-block" #map id="map"></div>
  <div class="cls-details">

    <div class="custom-card">
      <div class="card-row">
        <ion-icon name="business-outline"></ion-icon>
        <span class="card-address">{{planning?.address}}</span>
      </div>
      <div class="card-title">{{ getFirstThreeWords(planning?.intervention.name) }}</div>
    </div>
    <div class="time-display">{{ currentTime }}</div>
    <div
      class="slide-confirm-container"
      *ngIf="pointing_internal?.started_on == null ||pointing_internal?.finished_on == null"
      (touchstart)="onTouchStart($event)"
      (touchmove)="onTouchMove($event)"
      (touchend)="onTouchEnd()"
    >
      <ion-grid
        class="slide-track"
        [ngClass]="{'slide-track-pointage': pointing_internal?.started_on != null && pointing_internal?.finished_on == null}"
        *ngIf="shouldShowSlider()"
      >
        <ion-row class="ion-align-items-center" style="height: 48px">
          <ion-col size="2" class="icon-col">
            <ion-fab-button
              class="slider-button"
              [ngClass]="{'slider-button-pointage': pointing_internal?.started_on != null && pointing_internal?.finished_on == null}"
              [ngStyle]="{ transform: 'translateX(' + sliderX + 'px)' }"
              (touchstart)="onTouchStart($event)"
              (touchmove)="onTouchMove($event)"
              (touchend)="onTouchEnd()"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                class="slider-icon"
                [ngClass]="{'slider-icon-pointage': pointing_internal?.started_on != null && pointing_internal?.finished_on == null}"
              >
                <path d="M13.5 8L17.5 12L13.5 16M7.5 8L11.5 12L7.5 16" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </ion-fab-button>
          </ion-col>
          <ion-col size="10" class="slide-text-col">
            <div class="slide-text" [ngClass]="{'slide-text-pointage': pointing_internal?.started_on != null && pointing_internal?.finished_on == null}">
              {{ getConfirmationText() }}
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <ion-grid class="grid" *ngIf="planning?.pointing_internal?.started_on != null && planning?.pointing_internal?.finished_on != null">
      <ion-row class="row">
        <ion-col>Pointage réalisé avec succès</ion-col>
      </ion-row>
      <br />
    </ion-grid>
  </div>
</ion-content>
