.center-title {
  font-weight: bold;
  text-align: center;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
.cls-details {
  padding: 20px;
  margin-top: 20px;
}
.cls-details {
  padding: 20px;
  margin-top: 20px;
}
ion-card {
  border-radius: 14px;
}
.cls-title {
  width: 100%;
  text-align: center;
}
.cls-address {
  margin-top: 10px;
  width: 100%;
  text-align: left;
}
.cls-img {
  margin-top: 15px;
}
.cls-p-address {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 17.07px;
  color: #233341;
}
.cls-p-title {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.5px;
  color: #233341;
}
.mt-20 {
  margin-top: 20px;
}
.custom-banner {
  width: 100%;
  padding: 4px 10px;
  gap: 10px;
  border-radius: 20px;
  background: #ffe5cd;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: -1.5%;
  vertical-align: middle;
  color: #233341;
}
.mission-title {
  margin-top: 20px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: -1.5%;
  text-align: left;
  vertical-align: middle;
  color: #233341;
}

.custom-card {
  margin-top: 20px;
  width: 100%;
  padding: 0 10px 0 32px;
  gap: 9px;
  border-radius: 14px;
  border: 0.4px solid #0000001a;
  background: #f8fdff;
  display: flex;
  flex-direction: column;
}

.card-item {
  padding: 12px 0;
  border-bottom: 0.4px solid #ccc;
  &:last-child {
    border-bottom: none;
  }

  .item-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .col-left {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;

    .item-name {
      font-family: Montserrat, sans-serif;
      font-weight: 700;
      font-size: 18px;
      line-height: 100%;
      letter-spacing: -1.5%;
      text-align: left;
      color: #233341;
    }

    .item-chip {
      height: 25px;
      padding: 4px 10px;
      border-radius: 20px;
      background: #cdf3ff;
      display: flex;
      align-items: center;
      justify-content: center;

      .chip-text {
        font-family: Montserrat, sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: -1.5%;
        color: #233341;
      }
    }
  }

  .col-right {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

    ion-checkbox {
      --size: 20px;
    }
  }
}

.btn-container {
  width: 100%;
  margin-top: 20px;
}

.custom-button {
  margin-top: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: none;
  width: 100%;
}
.bg-mail {
  --border-radius: 50px;
  --background: #00a2e1;
  --background-hover: #00a2e1;
  --background-activated: #00a2e1;
}

.bg-link {
  --border-radius: 50px;
  --background: #4a80b2;
  --background-hover: #4a80b2;
  --background-activated: #4a80b2;
}
.btn-icon {
  margin-right: 5px;
}
.anumation-block {
  opacity: 0;
}