.cls-supervisor {
  padding: 20px;
}

.border-solid-2 {
  width: 100%;
  height: 2px;
  background-color: #d9d9d9;
}
.cls-title {
  font-weight: 700;
  font-size: 16px;
  text-align: center;
}
.custom-card {
  border-radius: 14px;
  box-shadow: 5px 4px 10px 0px #dfdfdf;
  background-color: white;
  margin-top: 20px;
}
.centered-title {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  color: #233341;
}
.btn-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.custom-button-update {
  --border-radius: 50px;
  --background: #cdffed;
  --background-hover: #cdffed;
  --background-activated: #cdffed;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: 700;
  padding: 10px 20px;
  text-transform: none;
  color: #233341;
}
.custom-button-update-cancel {
  --border-radius: 50px;
  --background: #ffcdcd;
  --background-hover: #ffcdcd;
  --background-activated: #ffcdcd;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: 700;
  padding: 10px 20px;
  text-transform: none;
  color: #233341;
}
.info-box {
  box-shadow: 5px 4px 10px 0px #dfdfdf;
  padding: 10px;
  border-radius: 5px;
  margin-top: 15px;
}
.awaiting {
  background: #cdffed;
}
.waiting {
  background: #ffceaa;
}
.status-text {
  font-size: 10px;
  font-weight: 700;
  color: #233341;
  display: flex;
  justify-content: flex-end;
}
.info-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}
.date-text {
  font-size: 12px;
  font-weight: 500;
  color: #233341;
}

.tool-container {
  display: flex;
  align-items: center;
}
.tool-text {
  font-size: 14px;
  font-weight: 700;
  color: #233341;
}
.tool-icon {
  font-size: 18px;
  color: #233341;
  margin-right: 5px;
}
.custom-card-c {
  padding: 15px;
  box-shadow: 5px 4px 10px 0px #dfdfdf;
}
.card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.name-text {
  font-size: 18px;
  font-weight: 700;
  color: #233341;
}
.chip {
  background: #cdf3ff;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 700;
  color: #233341;
  margin-top: 5px;
}
.right-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.call-icon {
  width: 40px;
  height: 40px;
}
.cls-bloc-title {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 15px;
}
.cls-title-photo {
  font-size: 16px;
  font-weight: 700;
  color: #233341;
}
.cls-req {
  font-size: 16px;
  font-weight: 700;
  color: #ff6666;
}
.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 80px);
  gap: 10px;
  justify-content: center;
}
.image-box {
  width: 80px;
  height: 80px;
  border: 1px solid #4a80b2;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 10px;
}
.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.remark-box {
  width: 100%;
  background: #fff8f2;
  border-radius: 14px;
  box-shadow: 0px 4px 4px 0px #0000001c;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}
.remark-title {
  font-size: 16px;
  font-weight: 700;
  color: #233341;
}
.remark-text {
  font-size: 14px;
  font-weight: 400;
  color: #233341;
}
