@import "@ionic/angular/css/core.css";
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import "@ionic/angular/css/palettes/dark.system.css";
body {
  font-family: Montserrat, sans-serif;
  background-color: #f4f9ff;
}
ion-content {
  font-family: Montserrat, sans-serif;
  background-color: #f4f9ff;
}
ion-button {
  min-height: 50px;
}
html.md {
  font-family: Montserrat, sans-serif !important;
  background-color: #f4f9ff !important;
}
:root {
  --ion-font-family: "Montserrat", sans-serif;
}
ion-datetime {
  --ion-color-primary: #00a2e1;
  --ion-color-base: #00a2e1;
  --ion-text-color: #00a2e1;
  --background: #fff;
  font-family: "Montserrat", sans-serif;
}

.picker-button,
.picker-toolbar-button,
.picker-col {
  font-family: "Montserrat", sans-serif;
  color: #00a2e1;
}

@import "node_modules/@glidejs/glide/dist/css/glide.core.min.css";
@import "node_modules/@glidejs/glide/dist/css/glide.theme.min.css";
.custom-picker-popover ion-picker {
  padding-left: 0 !important;
  margin-left: 0 !important;
  width: 100% !important;
}
.custom-picker-popover ion-picker .picker-columns {
  padding-left: 0 !important;
  margin-left: 0 !important;
}
.custom-picker-popover ion-picker::part(columns) {
  justify-content: center !important;
  padding-left: 0 !important;
}
.custom-picker-popover ion-picker::part(column) {
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
}
.custom-picker-popover ion-picker::part(option) {
  text-align: center !important;
  justify-content: center !important;
  align-items: center !important;
}
.custom-picker-popover {
  --min-width: 320px;
  --width: 320px;
  --max-width: 320px;
  --height: auto;
}
.custom-picker-popover ion-picker {
  width: 320px !important;
}

.custom-toast-success,
.custom-toast-warning,
.custom-toast-danger {
  --background: white;
  --color: black;
  --border-radius: 8px;
  --box-shadow: 0 0 0 2px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 16px;
  font-size: 14px;
  box-sizing: border-box;
  top: -10%;
}
.custom-toast-success {
  --box-shadow: 0 0 0 2px #2dd36f;
}
.custom-toast-danger {
  --box-shadow: 0 0 0 2px #eb445a;
}
.custom-toast-warning {
  --box-shadow: 0 0 0 2px #ddd;
}
.custom-toast-warning::before,
.custom-toast-success::before,
.custom-toast-danger::before {
  display: inline-block;
  margin-right: 8px;
  font-size: 18px;
}
