@use "../../../../../assets/scss/mission-style.scss" as *;
.center-title {
  font-weight: bold;
  text-align: center;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
.cls-supervisor {
  padding: 20px;
}
.avatar-img {
  width: 38px;
  height: 38px;
  border-radius: 80px;
  object-fit: cover;
}
.name-row {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: -0.015em;
  color: #233341;
  width: 100%;
  text-align: right;
  line-height: 100%;
}
.missions-row {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.015em;
  color: #233341;
  width: 100%;
  text-align: right;
  line-height: 100%;
}
.icon-col {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #233341;
}
.avatar-col {
  display: flex;
  align-items: center;
}
.info-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 8px;
}
.cards-list {
  width: 70%;
  margin-top: 20px;
  margin: 0 auto;
}
.date-display {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.015em;
  color: #233341;
  text-align: center;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 44px;
}
.custom-chip {
  width: 100%;
  padding: 4px 10px;
  border-radius: 20px;
  background: #ffe5cd;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: -0.015em;
  color: #233341;
  --background: transparent;
  --color: #233341;
  --padding-start: 0;
  --padding-end: 0;
}
.agent-row {
  align-items: center;
  width: 100%;
  margin-top: 10px;
}
.img-col {
  display: flex;
  align-items: center;
}
.agent-img {
  width: 100%;
  max-width: 38px;
  height: auto;
}
.agents-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #308451;
  text-align: right;
  letter-spacing: -0.015em;
  line-height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.chip-col {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.chip-custom {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 5px 10px;
  border-radius: 15px;
  background: #ebf6fb;
  opacity: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #323232;
}
.agent-row {
  align-items: center;
  width: 100%;
}
.img-text-col {
  display: flex;
  align-items: center;
}
.img-text-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}
.agent-img {
  width: 38px;
  height: 38px;
  border-radius: 12px;
  object-fit: cover;
}

.agents-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #308451;
  letter-spacing: -0.015em;
  line-height: 100%;
}

.chip-col {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.chip-custom {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 5px 10px;
  border-radius: 15px;
  background: #ebf6fb;
  opacity: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #323232;
}
.pd-15 {
  padding: 15px;
}
.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.custom-button {
  padding: 0 20px;
  border-radius: 50px;
  background: #00a2e1;
  box-shadow: 0px 4px 4px 0px #00000040;
  opacity: 1;
  gap: 6px;
  border: none;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 280%;
  letter-spacing: 1.2px;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
}

.anumation-block {
  opacity: 0;
}
