.center-title {
  font-weight: bold;
  text-align: center;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
.cls-details {
  padding: 20px;
  margin-top: 20px;
}

.styled-textarea {
  width: 100%;
  height: 122px;
  border-radius: 6px;
  padding: 8px 16px;
  box-shadow: 0px 4px 4px 0px #00000040;
  border: none;
  resize: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.015em;
  color: #707070;
}
.styled-textarea::placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.015em;
  color: #707070;
}

.cls-label-p {
  font-size: 14px;
  font-weight: 500;
  color: #233341;
  text-align: left;
  margin-top: 25px;
}

.custom-card {
  width: 100%;
  border-radius: 14px;
  padding: 20px 10px;
  background: #ffffff;
  box-shadow: 5px 4px 10px 0px #dfdfdf;
  border: 0.4px solid transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

#waveform {
  width: 100%;
  height: 128px;
}
.cls-btn-stop {
  font-size: 120px;
  cursor: pointer;
  color: #ff6666;
}
.cls-timer {
  color: red;
  font-weight: bold;
  width: 100%;
  text-align: center;
}
.micro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.micro-image {
  display: block;
  max-width: 100%;
  height: auto;
}
.m-10 {
  margin-top: 10px;
}
.custom-button-update {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 20px;
  text-transform: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-content {
  display: flex;
  align-items: center;
  gap: 8px;
}

.bg-record-lisen {
  --border-radius: 50px;
  --background: #ffceaa;
  --background-hover: #ffceaa;
  --background-activated: #ffceaa;
  width: 100%;
}
.bg-update {
  --border-radius: 50px;
  --background: #00a2e1;
  --background-hover: #00a2e1;
  --background-activated: #00a2e1;
  color: white;
  gap: 8px;
}
.btn-container {
  width: 100%;
  text-align: center;
}
.icon-space {
  font-size: 20px;
}
